{% set label = (label is defined ? label : "") %}
<div class="row form-group">
    <label class="col-sm-12 m-t-sm">{{ label }}</label>
    <div class="col-sm-12"><div class="form-control-box">{% block container %}{% endblock %}</div></div>
</div>