    
    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">
<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
    
    <div class="row">
        <div class="col-sm-6">
            <img *ngIf="_dataService.getLocalDataAttr('storeLogo')"
                 height="96"
                 alt="logo"
                 class="m-b-md"
                 [src]="_helperService.getUploadWebPath(_dataService.getLocalDataAttr('storeLogo'), 'resize_96')">
            <address>
                <strong>{{_formService.getObject().storeLegalName}}</strong><br>
                <ng-template
                    [ngIf]="_formService.getObject().storeStreet1"
                    ><span>{{_formService.getObject().storeStreet1}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storeStreet2"
                    ><span>{{_formService.getObject().storeStreet2}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storePostCode"
                    ><span>{{_formService.getObject().storePostCode}} {{_formService.getObject().storeCity}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storeRegion"
                    ><span>{{_formService.getObject().storeRegion}}</span><br></ng-template>            </address>
            <ng-template ngFor let-field [ngForOf]="_dataService.getLocalDataAttr('storeInfo')"><span
                    [innerHtml]="field"></span><br></ng-template>
            <p class="m-t-sm">Tax Number: {{_formService.getObject().storeTaxNumber}}</p>
        </div>
        <div class="col-sm-6">
            <h3 *ngIf="_formService.getObject().code" class="document-number text-right"><span>{{_formService.getObject().documentType_name}}:&nbsp;</span>                        <p id="form_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().code">{{error}}</label>
</h3>
            <table class="table document-dates">
                <tbody>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>                        
    <div class="input-group js_dataPicker"
         [datePicker]="'date'"
         #dpk_date="" [control]="dpk_date">
        <input type="text"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="_formService.getObject().date"
               formControlName = date
               name="form[date]"
               required="required"               [class.error]="_formService.getErrors()['date'] && (_formService.getErrors()['date'].length > 0)"
               ngbDatepicker #dpk_date="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn" type="button"><a class="fa fa-calendar"></a></button>
        </div>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().date">{{error}}</label>
</td>
                </tr>
                                </tbody>
            </table>

            <div class="">
                <span class="">To:</span>
                <div class="document-entity mt-1">
                    <span *ngIf="_formService.getObject().entity_avatar"
                          [innerHTML]="_formService.getViewObject().entity_avatar" class="pr-1"></span>
                    <address>
                        <strong>{{_formService.getObject().entityLegalName}}</strong><br>
                        <div class="m-t-xs m-b-xs">
                                                        <input [(ngModel)]="_formService.getObject().entityAddressObj"
           formControlName = entityAddressObj
           name="form[entityAddressObj]"
                      type="hidden">
    <js_autoComplete [field]="'entityAddressObj'"
                     [hasSelfReference]="_dataService.getFieldChoicesAttr('entityAddressObj', 'hasSelfReference')"
                                              (onChange)="'onEntityAddressChange($event)'"[placeholder]="'Address'"                         ></js_autoComplete>
                    <label class="error" *ngFor="let error of _formService.getErrors().entityAddressObj">{{error}}</label>
                        </div>
                        <ng-template
                            [ngIf]="_formService.getObject().entityStreet1"
                            ><span>{{_formService.getObject().entityStreet1}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityStreet2"
                            ><span>{{_formService.getObject().entityStreet2}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityPostCode"
                            ><span>{{_formService.getObject().entityPostCode}} {{_formService.getObject().entityCity}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityRegion"
                            ><span>{{_formService.getObject().entityRegion}}</span><br></ng-template>                    </address>
                </div>
            </div>
            <p class="mt-2">Tax Number: {{_formService.getObject().entityTaxNumber}}</p>
        </div>
    </div>

    <div class="mt-2 mb-4">
        <span>Comments</span>
        <div class="border rounded document-comments">                            <textarea id="form_comments" name="form[comments]" rows="3" [(ngModel)]="_formService.getObject().comments" formControlName="comments" [class.error]="_formService.getErrors().comments &amp;&amp; _formService.getErrors().comments.length &gt; 0" class="form-control"></textarea>
                <label class="error" *ngFor="let error of _formService.getErrors().comments">{{error}}</label>
</div>
    </div>

    <section><ng-template #js_lazyLoadContainer></ng-template></section>
    <div class="row"><div class="col-md-4 offset-md-8">
    <table class="table document-total">
        <tbody>
        <tr>
    <td><strong>Total:</strong></td>
    <td>                            <input type="text" id="form_total" name="form[total]" readonly="readonly" [(ngModel)]="_formService.getObject().total" formControlName="total" [class.error]="_formService.getErrors().total &amp;&amp; _formService.getErrors().total.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().total">{{error}}</label>
</td>
</tr>        </tbody>
    </table>
</div></div>
    <div *ngIf="_dataService.getLocalDataAttr('documentInfo') && _dataService.getLocalDataAttr('documentInfo')['footer']"
         class="mt-2 bg-light p-3"
         [innerHTML]="_dataService.getLocalDataAttr('documentInfo')['footer']"></div>
</div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        
                    <div class="row">
            <div class="col-auto ml-auto">
                                            <button                                     class="btn btn-light"
                                    (click)="cancelAction($event)"
                                        id="form_cancel"
            name="form[cancel]"
            type="button"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                                <button                                     class="btn btn-light"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAndCloseAction($event)"
                                        id="form_saveAndClose"
            name="form[saveAndClose]"
            type="button"><i class="fa fa-times"></i>&nbsp;Save and Close</button>
                                </div>
        </div>
    </div>    
    <input type="hidden" id="form__token" name="form[_token]" value="_yE5tsEMUvpURfWTW8W85WZk33Z7lJCsksOmBZnQ86Y" /></form>
