

    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

    

                        <div class="row form-group -multiple-field">
                            <label class="col-sm-2 control-label" for="form_originalDocument_code">Original Doc.</label>
                    <div class="col-sm-10">
                                            <p id="form_originalDocumentType_name"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().originalDocumentType_name"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().originalDocumentType_name">{{error}}</label>
                                            <p id="form_originalDocument_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().originalDocument_code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().originalDocument_code">{{error}}</label>
                </div>
            </div>
                                            

                <div class="row form-group" *ngIf="_formService.getObject().document_code">

                        <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_document_code">Doc. Code</label>
    
            <div class="col-sm-10">
                                        <p id="form_clientDocumentInvoiceDetailObj_document_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().document_code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().document_code">{{error}}</label>
            </div>
        </div>
                                                <div class="row form-group -multiple-field">
                            <label class="col-sm-2 control-label" for="form_service_name">Service</label>
                    <div class="col-sm-10">
                                            <p id="form_service_icon"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().service_icon"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().service_icon">{{error}}</label>
                                            <p id="form_service_name"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().service_name"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().service_name">{{error}}</label>
                </div>
            </div>
                                

                <div class="row form-group" *ngIf="_formService.getObject().booking_code">

                        <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_booking_code">Booking</label>
    
            <div class="col-sm-10">
                                        <p id="form_clientDocumentInvoiceDetailObj_booking_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().booking_code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().booking_code">{{error}}</label>
            </div>
        </div>
                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_clientDocumentInvoiceDetailObj_description">Description</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_clientDocumentInvoiceDetailObj_description" name="form[clientDocumentInvoiceDetailObj][description]" required="required" maxlength="256" [(ngModel)]="_formService.getObject().description" formControlName="description" [class.error]="_formService.getErrors().description &amp;&amp; _formService.getErrors().description.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().description">{{error}}</label>
            </div>
        </div>
                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_clientDocumentInvoiceDetailObj_quantity">Quantity</label>
    
            <div class="col-sm-10">
                                            <input type="number" id="form_clientDocumentInvoiceDetailObj_quantity" name="form[clientDocumentInvoiceDetailObj][quantity]" required="required" (input)="onQuantityEnterKey($event.target.value)" (focusout)="onQuantityEnterKey($event.target.value)" [(ngModel)]="_formService.getObject().quantity" formControlName="quantity" [class.error]="_formService.getErrors().quantity &amp;&amp; _formService.getErrors().quantity.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().quantity">{{error}}</label>
            </div>
        </div>
                                                

                                            <input type="hidden" id="form_clientDocumentInvoiceDetailObj_value" name="form[clientDocumentInvoiceDetailObj][value]" [(ngModel)]="_formService.getObject().value" formControlName="value" [class.error]="_formService.getErrors().value &amp;&amp; _formService.getErrors().value.length &gt; 0" />
                <label class="error" *ngFor="let error of _formService.getErrors().value">{{error}}</label>
                                    <div class="row form-group">
                            <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_user_value">Value</label>
                    <div class="col-sm-10"><div class="row">
                        <div class="col-sm-8">
                                                        <input type="text" id="form_clientDocumentInvoiceDetailObj_user_value" name="form[clientDocumentInvoiceDetailObj][user_value]" (input)="onValueEnterKey($event.target.value)" (focusout)="onValueEnterKey($event.target.value)" [(ngModel)]="_formService.getObject().user_value" formControlName="user_value" [class.error]="_formService.getErrors().user_value &amp;&amp; _formService.getErrors().user_value.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().user_value">{{error}}</label>
                        </div>
                        <div class="col-sm-4">
                                                        <div class="checkbox">                                        <label for="form_clientDocumentInvoiceDetailObj_isVatIncluded"><input type="checkbox" id="form_clientDocumentInvoiceDetailObj_isVatIncluded" name="form[clientDocumentInvoiceDetailObj][isVatIncluded]" (change)="onIsVatIncludedChange($event.target.checked)" [(ngModel)]="_formService.getObject().isVatIncluded" formControlName="isVatIncluded" [class.error]="_formService.getErrors().isVatIncluded &amp;&amp; _formService.getErrors().isVatIncluded.length &gt; 0" value="1" /> Is vat included</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isVatIncluded">{{error}}</label>
                        </div>
                    </div></div>
            </div>
                                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_subTotal">Sub Total</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_clientDocumentInvoiceDetailObj_subTotal" name="form[clientDocumentInvoiceDetailObj][subTotal]" readonly="readonly" [(ngModel)]="_formService.getObject().subTotal" formControlName="subTotal" [class.error]="_formService.getErrors().subTotal &amp;&amp; _formService.getErrors().subTotal.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().subTotal">{{error}}</label>
            </div>
        </div>
                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_totalVat">TAX</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_clientDocumentInvoiceDetailObj_totalVat" name="form[clientDocumentInvoiceDetailObj][totalVat]" readonly="readonly" [(ngModel)]="_formService.getObject().totalVat" formControlName="totalVat" [class.error]="_formService.getErrors().totalVat &amp;&amp; _formService.getErrors().totalVat.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().totalVat">{{error}}</label>
            </div>
        </div>
                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_clientDocumentInvoiceDetailObj_total">Total</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_clientDocumentInvoiceDetailObj_total" name="form[clientDocumentInvoiceDetailObj][total]" readonly="readonly" [(ngModel)]="_formService.getObject().total" formControlName="total" [class.error]="_formService.getErrors().total &amp;&amp; _formService.getErrors().total.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().total">{{error}}</label>
            </div>
        </div>
                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">Enabled</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label for="form_isEnabled"><input type="checkbox" id="form_isEnabled" name="form[isEnabled]" [(ngModel)]="_formService.getObject().isEnabled" formControlName="isEnabled" [class.error]="_formService.getErrors().isEnabled &amp;&amp; _formService.getErrors().isEnabled.length &gt; 0" value="1" checked="checked" /> Is enabled</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isEnabled">{{error}}</label>
            </div>
        </div>
                

    

    <input type="hidden" id="form__token" name="form[_token]" value="Pyn_BcDiS9gJO25dJpE9EFTFCI4Haq4yNZSoquhdIAw" /></form>
