{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output="assets/user/user-group/detail/css/local.css"
    '@UserBundle/Resources/public/user-group/detail/scss/dist/styles.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    {% set userGroupUserData = render(controller(
        'UserBundle:UserGroupUser:dataChild',
        {'parents': {'userGroup': _conf['object']['id']}}
    )) %}
    <script>
        _app.dependency.userGroupUser = {{ userGroupUserData|raw }};
    </script>
{% endblock %}

{% block header_container %}
    {% include 'AppBundle:partial:entity-detail.html.twig' with {
        'object': _conf['object'],
        'fields': _conf['fields']
    } %}
{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div id="js_main"></div>
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/user/user-group/detail/js/local.js"
        '@UserBundle/Resources/public/user-group/detail/ts/dist/inline.bundle.js'
        '@UserBundle/Resources/public/user-group/detail/ts/dist/polyfills.bundle.js'
        '@UserBundle/Resources/public/user-group/detail/ts/dist/vendor.bundle.js'
        '@UserBundle/Resources/public/user-group/detail/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}