<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    
                        <ul class="row mb-3 no-gutters wizard-nav">
                                    <li class="col-auto wizard-step"
                        [class.step-active]="0 == _wizardManagerService.getIndex()">
                        <span class="step-number">1</span>
                        <span class="step-text">Select Menu</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="1 == _wizardManagerService.getIndex()">
                        <span class="step-number">2</span>
                        <span class="step-text">Fill Form</span>
                    </li>
                            </ul>

                <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

                <section [hidden]="_wizardManagerService.getIndex() != 0">        

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required">App Module Menu</label>
    
            <div class="col-sm-10">
                                                                                <div class="form-control-box"
         [ngClass]="{'error': _formService.getErrors().appModuleMenuObj && (_formService.getErrors().appModuleMenuObj.length > 0)}"
                                        (click)="_formService.setFormFieldValue('appModuleMenuObj', $event.target.value)">
                <div class="radio"
             *ngFor="let choice of _dataService.getFieldChoices('appModuleMenuObj')">
            <label class="required"><input
                type="radio"
                value="{{choice['id']}}"
                [checked]="_formService.getObject().appModuleMenuObj == choice['id']">&nbsp;<span [innerHTML]="choice['label']"></span></label>
            <div class="tip-box"
                 *ngIf="(_formService.getObject().appModuleMenuObj == choice['id']) && (choice['description'])"><small class="pre-wrap">{{choice['description']}}</small></div>
        </div>
        <input [(ngModel)]="_formService.getObject().appModuleMenuObj"
               formControlName="appModuleMenuObj"
               name="form[appModuleMenuObj]"
               required="required"               type="hidden">
    </div>
                                <label class="error" *ngFor="let error of _formService.getErrors().appModuleMenuObj">{{error}}</label>
            </div>
        </div>
        </section>
    <section [hidden]="_wizardManagerService.getIndex() != 1">                    

                <div class="row form-group" *ngIf="_formService.getObject().id">

                        <label class="col-sm-2 control-label required" for="form_id">Id</label>
    
            <div class="col-sm-10">
                                        <p id="form_id"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().id"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().id">{{error}}</label>
            </div>
        </div>
                        

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_name">Name</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_name" name="form[name]" required="required" maxlength="64" [(ngModel)]="_formService.getObject().name" formControlName="name" [class.error]="_formService.getErrors().name &amp;&amp; _formService.getErrors().name.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().name">{{error}}</label>
            </div>
        </div>
                        

                <div class="row form-group" *ngIf="_formService.getObject().description">

                        <label class="col-sm-2 control-label" for="form_description">Description</label>
    
            <div class="col-sm-10">
                                        <p id="form_description"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().description"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().description">{{error}}</label>
            </div>
        </div>
                        

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_priority">Priority</label>
    
            <div class="col-sm-10">
                                            <input type="number" id="form_priority" name="form[priority]" required="required" [(ngModel)]="_formService.getObject().priority" formControlName="priority" [class.error]="_formService.getErrors().priority &amp;&amp; _formService.getErrors().priority.length &gt; 0" class="form-control" value="0" />
                <label class="error" *ngFor="let error of _formService.getErrors().priority">{{error}}</label>
            </div>
        </div>
                        

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" [innerHTML]="getLang('Enabled')"></label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label for="form_isEnabled"><input type="checkbox" id="form_isEnabled" name="form[isEnabled]" [(ngModel)]="_formService.getObject().isEnabled" formControlName="isEnabled" [class.error]="_formService.getErrors().isEnabled &amp;&amp; _formService.getErrors().isEnabled.length &gt; 0" value="1" checked="checked" /> Is enabled</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isEnabled">{{error}}</label>
            </div>
        </div>
                </section>
                <input type="hidden" id="form__token" name="form[_token]" value="cEuu0f4SXmjfjYDFXIJO4B5Hkp8dRrRxqs-vEEkwqNE" /></form>

            
    </div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        <div class="row justify-content-center">
    <div class="col-auto">
            <button type="button" class="btn-light btn" (click)="_wizardManagerService.cancelAction($event)">Cancel</button>
                <button type="button" class="btn-primary btn" (click)="_wizardManagerService.prevAction($event)"
                    *ngIf="0 < _wizardManagerService.getIndex()">Prev</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.nextAction($event)"
                    *ngIf="1 > _wizardManagerService.getIndex()">Next</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.finishAction($event)"
                    *ngIf="1 == _wizardManagerService.getIndex()">Finish</button>
        
    </div>
</div></div>