{% block before_container %}{% endblock %}
<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">{% block header_container %}{% endblock %}</h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">{% block body %}{% endblock %}</div>
    </div>
</div>
{% block footer %}<div class="modal-footer hide-on-empty">
    {% block footer_container %}
        <div class="row"><div class="col-auto ml-auto">
            <button type="button" class="btn btn-primary" (click)="closeAction($event, true)">Ok</button>
        </div></div>
    {% endblock %}
</div>{% endblock %}
{% block after_container %}{% endblock %}