{% block before_container %}{% endblock %}

{% set class = (_localData['template']['class'] is defined ? _localData['template']['class'] : null) %}
{% set attrs = (_localData['template']['attrs'] is defined ? _localData['template']['attrs'] : {}) %}
{% set hasHeader = (_localData['template']['hasHeader'] is defined ? _localData['template']['hasHeader'] : true) %}

<div class="ibox{{class ? (' ' ~ class) : ''}}" {% for key, value in attrs %}{{key}}="{{value}}"{% endfor %}>
    {% block header %}
        {% if (hasHeader) %}
            <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
                <h5>
                    <ng-template [ngIf]="getProviderAttr('controls')['expander']"><js_expander
                        [isExpanded]="_isExpanded || null"
                        [label]="getProviderAttr('label')"
                        (onChange)="expanderAction($event)"></js_expander></ng-template>
                    <ng-template [ngIf]="!getProviderAttr('controls')['expander']">
                        <span [innerHTML]="getProviderAttr('label')"></span>
                    </ng-template>
                </h5>
                <div *ngIf="_isExpanded"
                     class="txt-align-r hide-on-empty">{% block header_container %}{% endblock %}</div>
            </div>
        {% endif %}
    {% endblock %}

    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty">{% block body %}{% endblock %}</div>
    {% block footer %}<div [hidden]="_isExpanded" class="ibox-footer hide-on-empty">{% block footer_container %}{% endblock %}</div>{% endblock %}

</div>

{% block after_container %}{% endblock %}