    
    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">
<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">        
                                        

                <div class="row form-group" *ngIf="_formService.getObject().id">

                        <label class="col-sm-2 control-label required" for="form_id">Id</label>
    
            <div class="col-sm-10">
                                        <p id="form_id"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().id"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().id">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_description">Description</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_description" name="form[description]" maxlength="256" [(ngModel)]="_formService.getObject().description" formControlName="description" [class.error]="_formService.getErrors().description &amp;&amp; _formService.getErrors().description.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().description">{{error}}</label>
            </div>
        </div>
                                                    <div class="row form-group">
                                <label class="col-sm-2 control-label required" for="form_rule">Rule</label>
                        <div class="col-sm-10"><div class="row">
                        <div class="col-sm-4">
                                                                                
        <select id="form_rule" name="form[rule]" [(ngModel)]="_formService.getObject().rule" formControlName="rule" [class.error]="_formService.getErrors().rule &amp;&amp; _formService.getErrors().rule.length &gt; 0" class="form-control">            <option value="PAX" >Pax/Quantity</option>            <option value="DAYS" >Days</option></select>
    <input [(ngModel)]="_formService.getObject().rule"
           formControlName = rule
           required="required"           type="hidden">

                            <label class="error" *ngFor="let error of _formService.getErrors().rule">{{error}}</label>
                        </div>
                        <div class="col-sm-4">
                                                                                
        <select id="form_ruleExpr" name="form[ruleExpr]" [(ngModel)]="_formService.getObject().ruleExpr" formControlName="ruleExpr" [class.error]="_formService.getErrors().ruleExpr &amp;&amp; _formService.getErrors().ruleExpr.length &gt; 0" class="form-control">            <option value="&gt;" >&gt;</option>            <option value="&lt;" >&lt;</option>            <option value="=" >=</option></select>
    <input [(ngModel)]="_formService.getObject().ruleExpr"
           formControlName = ruleExpr
           required="required"           type="hidden">

                            <label class="error" *ngFor="let error of _formService.getErrors().ruleExpr">{{error}}</label>
                        </div>
                        <div class="col-sm-4">
                                                        <input type="number" id="form_ruleValue" name="form[ruleValue]" required="required" [(ngModel)]="_formService.getObject().ruleValue" formControlName="ruleValue" [class.error]="_formService.getErrors().ruleValue &amp;&amp; _formService.getErrors().ruleValue.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().ruleValue">{{error}}</label>
                        </div>
                    </div></div>
                </div>
                                                                                        

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">VAT included</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label><input type="checkbox" id="form_isVatIncluded" name="form[isVatIncluded]" (change)="onIsVatIncludedChange($event.target.checked)" [(ngModel)]="_formService.getObject().isVatIncluded" formControlName="isVatIncluded" [class.error]="_formService.getErrors().isVatIncluded &amp;&amp; _formService.getErrors().isVatIncluded.length &gt; 0" value="1" /> Is vat included</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isVatIncluded">{{error}}</label>
            </div>
        </div>
                                                    <div class="row form-group">
                                <label class="col-sm-2 control-label required" for="form_bonusServiceObj">Bonus Service</label>
                        <div class="col-sm-10"><div class="row">
                        <div class="col-sm-4">
                                                                                    <div class="html-select"
         [htmlSelect]="'bonusServiceObj'"
                               >
        <div class="input-group-control"
             [class.error]="_formService.getErrors()['bonusServiceObj'] && (_formService.getErrors()['bonusServiceObj'].length > 0)">
            <span class="js_label form-control"></span>
            <a class="pull-right"><i class="fa fa-angle-down"></i></a>
        </div>
        <div class="choices js_choices">
            <ul class="form-control-box">        <ng-template ngFor let-choice [ngForOf]="_dataService.getFieldChoices('bonusServiceObj')">
            <li [attr.data-value]="choice['id']" [innerHtml]="choice['label']"></li>
        </ng-template>
    </ul>
        </div>
    </div>
    <input [(ngModel)]="_formService.getObject().bonusServiceObj"
           formControlName = bonusServiceObj
           name="form[bonusServiceObj]"
           required="required"           type="hidden">
                                <label class="error" *ngFor="let error of _formService.getErrors().bonusServiceObj">{{error}}</label>
                        </div>
                        <div class="col-sm-4">
                                                                                
        <select id="form_bonusMethod" name="form[bonusMethod]" (change)="onBonusMethodChange($event.target.value)" [(ngModel)]="_formService.getObject().bonusMethod" formControlName="bonusMethod" [class.error]="_formService.getErrors().bonusMethod &amp;&amp; _formService.getErrors().bonusMethod.length &gt; 0" class="form-control">            <option value="PERCENTAGE" >Percentage</option>            <option value="FIXED" >Fixed</option></select>
    <input [(ngModel)]="_formService.getObject().bonusMethod"
           formControlName = bonusMethod
           required="required"           type="hidden">

                            <label class="error" *ngFor="let error of _formService.getErrors().bonusMethod">{{error}}</label>
                        </div>
                        <div class="col-sm-4">
                                                        <input type="text" id="form_user_bonusValue" name="form[user_bonusValue]" (input)="onBonusValueEnterKey($event.target.value)" (focusout)="onBonusValueEnterKey($event.target.value)" [(ngModel)]="_formService.getObject().user_bonusValue" formControlName="user_bonusValue" [class.error]="_formService.getErrors().user_bonusValue &amp;&amp; _formService.getErrors().user_bonusValue.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().user_bonusValue">{{error}}</label>
                        </div>
                    </div></div>
                </div>
                                                                    

                                            <input type="hidden" id="form_bonusValue" name="form[bonusValue]" [(ngModel)]="_formService.getObject().bonusValue" formControlName="bonusValue" [class.error]="_formService.getErrors().bonusValue &amp;&amp; _formService.getErrors().bonusValue.length &gt; 0" />
                <label class="error" *ngFor="let error of _formService.getErrors().bonusValue">{{error}}</label>
                                                                        <div class="row form-group">
                                <label class="col-sm-2 control-label required" for="form_paxToApplyType">Pax/Quantity to Apply</label>
                        <div class="col-sm-10"><div class="row">
                        <div class="col-sm-6">
                                                                                
        <select id="form_paxToApplyType" name="form[paxToApplyType]" [(ngModel)]="_formService.getObject().paxToApplyType" formControlName="paxToApplyType" [class.error]="_formService.getErrors().paxToApplyType &amp;&amp; _formService.getErrors().paxToApplyType.length &gt; 0" class="form-control">            <option value="ALL" >All</option>            <option value="FIXED" >Fixed</option>            <option value="AFTER" >After</option></select>
    <input [(ngModel)]="_formService.getObject().paxToApplyType"
           formControlName = paxToApplyType
           required="required"           type="hidden">

                            <label class="error" *ngFor="let error of _formService.getErrors().paxToApplyType">{{error}}</label>
                        </div>
                        <div class="col-sm-6">
                                                        <input type="number" id="form_paxToApplyValue" name="form[paxToApplyValue]" [(ngModel)]="_formService.getObject().paxToApplyValue" formControlName="paxToApplyValue" [class.error]="_formService.getErrors().paxToApplyValue &amp;&amp; _formService.getErrors().paxToApplyValue.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().paxToApplyValue">{{error}}</label>
                        </div>
                    </div></div>
                </div>
                                                                    <div class="row form-group">
                                <label class="col-sm-2 control-label required" for="form_daysToApplyType">Days to Apply</label>
                        <div class="col-sm-10"><div class="row">
                        <div class="col-sm-6">
                                                                                
        <select id="form_daysToApplyType" name="form[daysToApplyType]" [(ngModel)]="_formService.getObject().daysToApplyType" formControlName="daysToApplyType" [class.error]="_formService.getErrors().daysToApplyType &amp;&amp; _formService.getErrors().daysToApplyType.length &gt; 0" class="form-control">            <option value="ALL" >All</option>            <option value="FIXED" >Fixed</option>            <option value="AFTER" >After</option></select>
    <input [(ngModel)]="_formService.getObject().daysToApplyType"
           formControlName = daysToApplyType
           required="required"           type="hidden">

                            <label class="error" *ngFor="let error of _formService.getErrors().daysToApplyType">{{error}}</label>
                        </div>
                        <div class="col-sm-6">
                                                        <input type="number" id="form_daysToApplyValue" name="form[daysToApplyValue]" [(ngModel)]="_formService.getObject().daysToApplyValue" formControlName="daysToApplyValue" [class.error]="_formService.getErrors().daysToApplyValue &amp;&amp; _formService.getErrors().daysToApplyValue.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().daysToApplyValue">{{error}}</label>
                        </div>
                    </div></div>
                </div>
                                                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_startDate">Start Date</label>
    
            <div class="col-sm-10">
                                        
    <div class="input-group js_dataPicker"
         [datePicker]="'startDate'"
         #dpk_startDate="" [control]="dpk_startDate">
        <input type="text"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="_formService.getObject().startDate"
               formControlName = startDate
               name="form[startDate]"
               required="required"               [class.error]="_formService.getErrors()['startDate'] && (_formService.getErrors()['startDate'].length > 0)"
               ngbDatepicker #dpk_startDate="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn" type="button"><a class="fa fa-calendar"></a></button>
        </div>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().startDate">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_endDate">End Date</label>
    
            <div class="col-sm-10">
                                        
    <div class="input-group js_dataPicker"
         [datePicker]="'endDate'"
         #dpk_endDate="" [control]="dpk_endDate">
        <input type="text"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="_formService.getObject().endDate"
               formControlName = endDate
               name="form[endDate]"
               required="required"               [class.error]="_formService.getErrors()['endDate'] && (_formService.getErrors()['endDate'].length > 0)"
               ngbDatepicker #dpk_endDate="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn" type="button"><a class="fa fa-calendar"></a></button>
        </div>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().endDate">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_targetServiceObj">Target</label>
    
            <div class="col-sm-10">
                                                                        <div class="html-select"
         [htmlSelect]="'targetServiceObj'"
                               >
        <div class="input-group-control"
             [class.error]="_formService.getErrors()['targetServiceObj'] && (_formService.getErrors()['targetServiceObj'].length > 0)">
            <span class="js_label form-control"></span>
            <a class="pull-right"><i class="fa fa-angle-down"></i></a>
        </div>
        <div class="choices js_choices">
            <ul class="form-control-box">        <ng-template ngFor let-choice [ngForOf]="_dataService.getFieldChoices('targetServiceObj')">
            <li [attr.data-value]="choice['id']" [innerHtml]="choice['label']"></li>
        </ng-template>
    </ul>
        </div>
    </div>
    <input [(ngModel)]="_formService.getObject().targetServiceObj"
           formControlName = targetServiceObj
           name="form[targetServiceObj]"
                      type="hidden">
                                <label class="error" *ngFor="let error of _formService.getErrors().targetServiceObj">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" *ngIf="_formService.getObject().insertTime">

                        <label class="col-sm-2 control-label required" for="form_insertTime">Insert Time</label>
    
            <div class="col-sm-10">
                                        <p id="form_insertTime"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().insertTime"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().insertTime">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" *ngIf="_formService.getObject().insertUser">

                        <label class="col-sm-2 control-label required" for="form_insertUser">Insert User</label>
    
            <div class="col-sm-10">
                                        <p id="form_insertUser"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().insertUser"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().insertUser">{{error}}</label>
            </div>
        </div>
                                                    

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">Enabled</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label><input type="checkbox" id="form_isEnabled" name="form[isEnabled]" [(ngModel)]="_formService.getObject().isEnabled" formControlName="isEnabled" [class.error]="_formService.getErrors().isEnabled &amp;&amp; _formService.getErrors().isEnabled.length &gt; 0" value="1" checked="checked" /> Is enabled</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isEnabled">{{error}}</label>
            </div>
        </div>
                            </div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        
                    <div class="row">
            <div class="col-auto ml-auto">
                                            <button                                     class="btn btn-light"
                                    (click)="cancelAction($event)"
                                        id="form_cancel"
            name="form[cancel]"
            type="button"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                                <button                                     class="btn btn-light"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAndCloseAction($event)"
                                        id="form_saveAndClose"
            name="form[saveAndClose]"
            type="button"><i class="fa fa-times"></i>&nbsp;Save and Close</button>
                                </div>
        </div>
    </div>    
    <input type="hidden" id="form__token" name="form[_token]" value="sEeUTtNqE_lLiY0RIyodAt-zpCXEmA5IHyk5lwPbGSo" /></form>
