    
    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">
<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    
            

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_description">Description</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_description" name="form[description]" maxlength="64" [(ngModel)]="_formService.getObject().description" formControlName="description" [class.error]="_formService.getErrors().description &amp;&amp; _formService.getErrors().description.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().description">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_startDate">Start Date</label>
    
            <div class="col-sm-10">
                                        
    <div class="input-group js_dataPicker"
         [datePicker]="'startDate'"
         #dpk_startDate="" [control]="dpk_startDate">
        <input type="text"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="_formService.getObject().startDate"
               formControlName = startDate
               name="form[startDate]"
               required="required"               [class.error]="_formService.getErrors()['startDate'] && (_formService.getErrors()['startDate'].length > 0)"
               ngbDatepicker #dpk_startDate="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn" type="button"><a class="fa fa-calendar"></a></button>
        </div>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().startDate">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_endDate">End Date</label>
    
            <div class="col-sm-10">
                                        
    <div class="input-group js_dataPicker"
         [datePicker]="'endDate'"
         #dpk_endDate="" [control]="dpk_endDate">
        <input type="text"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="_formService.getObject().endDate"
               formControlName = endDate
               name="form[endDate]"
               required="required"               [class.error]="_formService.getErrors()['endDate'] && (_formService.getErrors()['endDate'].length > 0)"
               ngbDatepicker #dpk_endDate="ngbDatepicker">
        <div class="input-group-append">
            <button class="btn" type="button"><a class="fa fa-calendar"></a></button>
        </div>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().endDate">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_targetServiceObj">Target</label>
    
            <div class="col-sm-10">
                                                                        <div class="html-select"
         [htmlSelect]="'targetServiceObj'"
                               >
        <div class="input-group-control"
             [class.error]="_formService.getErrors()['targetServiceObj'] && (_formService.getErrors()['targetServiceObj'].length > 0)">
            <span class="js_label form-control"></span>
            <a class="pull-right"><i class="fa fa-angle-down"></i></a>
        </div>
        <div class="choices js_choices">
            <ul class="form-control-box">        <ng-template ngFor let-choice [ngForOf]="_dataService.getFieldChoices('targetServiceObj')">
            <li [attr.data-value]="choice['id']" [innerHtml]="choice['label']"></li>
        </ng-template>
    </ul>
        </div>
    </div>
    <input [(ngModel)]="_formService.getObject().targetServiceObj"
           formControlName = targetServiceObj
           name="form[targetServiceObj]"
                      type="hidden">
                                <label class="error" *ngFor="let error of _formService.getErrors().targetServiceObj">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_vatCodeObj">VAT Code</label>
    
            <div class="col-sm-10">
                                                                            <select [(ngModel)]="_formService.getObject().vatCodeObj"
            formControlName = vatCodeObj
            class="form-control"
            [class.error]="_formService.getErrors().vatCodeObj && (_formService.getErrors().vatCodeObj.length > 0)"
            id="form_vatCodeObj"
            name="form[vatCodeObj]"
            required="required">
        <option value=""></option>
                    <option *ngFor="let choice of _dataService.getFieldChoices('vatCodeObj')"
                    value="{{choice['id']}}">{{choice['label']}}</option>
            </select>
                                <label class="error" *ngFor="let error of _formService.getErrors().vatCodeObj">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">VAT included</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label><input type="checkbox" id="form_isVatIncluded" name="form[isVatIncluded]" (change)="onIsVatIncludedChange($event.target.checked)" [(ngModel)]="_formService.getObject().isVatIncluded" formControlName="isVatIncluded" [class.error]="_formService.getErrors().isVatIncluded &amp;&amp; _formService.getErrors().isVatIncluded.length &gt; 0" value="1" /> Is vat included</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isVatIncluded">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_vatValueCost">VAT Value</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_vatValueCost" name="form[vatValueCost]" readonly="readonly" [(ngModel)]="_formService.getObject().vatValueCost" formControlName="vatValueCost" [class.error]="_formService.getErrors().vatValueCost &amp;&amp; _formService.getErrors().vatValueCost.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().vatValueCost">{{error}}</label>
            </div>
        </div>
                

                                            <input type="hidden" id="form_costValue" name="form[costValue]" [(ngModel)]="_formService.getObject().costValue" formControlName="costValue" [class.error]="_formService.getErrors().costValue &amp;&amp; _formService.getErrors().costValue.length &gt; 0" />
                <label class="error" *ngFor="let error of _formService.getErrors().costValue">{{error}}</label>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_user_costValue">Cost</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_user_costValue" name="form[user_costValue]" (input)="onCostValueEnterKey($event.target.value)" (focusout)="onCostValueEnterKey($event.target.value)" [(ngModel)]="_formService.getObject().user_costValue" formControlName="user_costValue" [class.error]="_formService.getErrors().user_costValue &amp;&amp; _formService.getErrors().user_costValue.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().user_costValue">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_totalCost">Total Cost</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_totalCost" name="form[totalCost]" readonly="readonly" [(ngModel)]="_formService.getObject().totalCost" formControlName="totalCost" [class.error]="_formService.getErrors().totalCost &amp;&amp; _formService.getErrors().totalCost.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().totalCost">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">Enabled</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label><input type="checkbox" id="form_isEnabled" name="form[isEnabled]" [(ngModel)]="_formService.getObject().isEnabled" formControlName="isEnabled" [class.error]="_formService.getErrors().isEnabled &amp;&amp; _formService.getErrors().isEnabled.length &gt; 0" value="1" checked="checked" /> Is enabled</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isEnabled">{{error}}</label>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        
                    <div class="row">
            <div class="col-auto ml-auto">
                                            <button                                     class="btn btn-light"
                                    (click)="cancelAction($event)"
                                        id="form_cancel"
            name="form[cancel]"
            type="button"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                                <button                                     class="btn btn-light"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAndCloseAction($event)"
                                        id="form_saveAndClose"
            name="form[saveAndClose]"
            type="button"><i class="fa fa-times"></i>&nbsp;Save and Close</button>
                                </div>
        </div>
    </div>    
    <input type="hidden" id="form__token" name="form[_token]" value="sEeUTtNqE_lLiY0RIyodAt-zpCXEmA5IHyk5lwPbGSo" /></form>
