{% extends 'AppBundle:form:form-popup.html.twig' %}

{% block body %}
    {% set form = (form is defined ? form : (_form is defined ? _form : null)) %}
    {% set fields = (fields is defined ? fields : (_conf['fields'] is defined ? _conf['fields'] : null)) %}

    {% if (form and fields) %}
        {% for field in fields['form'] %}
            {% if field == 'hasFixedDuration' %}
                <div class="row form-group">
                    {% include 'AppBundle:form:label.html.twig' with {
                        'formField': form[field],
                        'metadata': fields['metadata'][field]
                    } %}
                    <div class="col-sm-10"><div class="row">
                        <div class="col-sm-4">
                            {% include 'AppBundle:form:input.html.twig' with {
                                'field': field,
                                'formField': form[field],
                                'metadata': fields['metadata'][field]
                            } %}
                        </div>
                        <ng-template [ngIf]="_formService.getObject().{{field}}">
                            <label class="col-sm-4 control-label">Duration</label>
                            <div class="col-sm-4">
                                {% include 'AppBundle:form:input.html.twig' with {
                                    'field': 'fixedDurationDays',
                                    'formField': form['fixedDurationDays'],
                                    'metadata': fields['metadata']['fixedDurationDays']
                                } %}
                            </div>
                        </ng-template>
                    </div>
                </div></div>
            {% elseif field == 'isEnabledAvailability' %}
                {% embed 'AppBundle:form:form-control-box.html.twig' with {'label': 'Sales Controls'} %}
                    {% block container %}
                        {% for field in ['isEnabledAvailability', 'isEnabledAllot', 'isEnabledPrice'] %}
                            {% include 'AppBundle:form:field.html.twig' with {
                                'field': field,
                                'metadata': fields['metadata'][field],
                                'form': form
                            } %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% elseif field == 'priceFrom' %}
                {% embed 'AppBundle:form:form-control-box.html.twig' with {'label': 'Marketing'} %}
                    {% block container %}
                        <div class="row form-group">
                            {% include 'AppBundle:form:label.html.twig' with {
                                'formField': form[field],
                                'metadata': fields['metadata'][field]
                            } %}
                            <div class="col-sm-10">
                                {% include 'AppBundle:form:input.html.twig' with {
                                    'field': field,
                                    'formField': form[field],
                                    'metadata': fields['metadata'][field]
                                } %}
                        </div></div>
                    {% endblock %}
                {% endembed %}
            {% elseif (field not in ['fixedDurationDays', 'isEnabledAllot', 'isEnabledPrice']) %}
                {% include 'AppBundle:form:field.html.twig' with {
                    'field': field,
                    'metadata': fields['metadata'][field],
                    'form': form
                } %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}