<div class="modal-body">
    <div class="form-wrapper gray-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h5>
                        <div class="txt-align-r actions">
                            <a class="-round fa fa-times"
                               (click)="closeAction($event)"></a>
                        </div>
                    </div>
                        
    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">
                    <div class="ibox-content">    
            

            <div class="form-group" *ngIf="_formService.getObject().code">

                        <label class="col-sm-2 control-label" for="form_code">Code</label>
    
            <div class="col-sm-10">
                                        <p id="form_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().code">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().avatar">

                        <label class="col-sm-2 control-label" for="form_avatar">Avatar</label>
    
            <div class="col-sm-10">
                                        <p id="form_avatar"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().avatar"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().avatar">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().title">

                        <label class="col-sm-2 control-label required" for="form_title">Title</label>
    
            <div class="col-sm-10">
                                        <p id="form_title"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().title"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().title">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().name">

                        <label class="col-sm-2 control-label" for="form_name">Name</label>
    
            <div class="col-sm-10">
                                        <p id="form_name"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().name"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().name">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().surname">

                        <label class="col-sm-2 control-label" for="form_surname">Surname</label>
    
            <div class="col-sm-10">
                                        <p id="form_surname"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().surname"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().surname">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().legalName">

                        <label class="col-sm-2 control-label" for="form_legalName">Legal Name</label>
    
            <div class="col-sm-10">
                                        <p id="form_legalName"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().legalName"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().legalName">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().birthDate">

                        <label class="col-sm-2 control-label" for="form_birthDate">Birth Date</label>
    
            <div class="col-sm-10">
                                        <p id="form_birthDate"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().birthDate"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().birthDate">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().taxNumber">

                        <label class="col-sm-2 control-label" for="form_taxNumber">Tax Number</label>
    
            <div class="col-sm-10">
                                        <p id="form_taxNumber"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().taxNumber"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().taxNumber">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" >

                        <label class="col-sm-2 control-label required" for="form_entityObj">Entity</label>
    
            <div class="col-sm-10">
                                            <input [(ngModel)]="_formService.getObject().entityObj"
           formControlName = entityObj
           name="form[entityObj]"
           required="required"           type="hidden">
    <js_autoComplete [field]="'entityObj'"
                     [selfReference]="_dataService.getFieldChoicesAttr('entityObj', 'selfReference')"
                                              (onChange)="onEntityChange($event)"[placeholder]="&#039;Entity&#039;"                         ></js_autoComplete>
                    <label class="error" *ngFor="let error of _formService.getErrors().entityObj">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().insertTime">

                        <label class="col-sm-2 control-label required" for="form_insertTime">Insert Time</label>
    
            <div class="col-sm-10">
                                        <p id="form_insertTime"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().insertTime"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().insertTime">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" *ngIf="_formService.getObject().insertUser">

                        <label class="col-sm-2 control-label required" for="form_insertUser">Insert User</label>
    
            <div class="col-sm-10">
                                        <p id="form_insertUser"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().insertUser"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().insertUser">{{error}}</label>
            </div>
        </div>
                

            <div class="form-group" >

                        <label class="col-sm-2 control-label">Enabled</label>
    
            <div class="col-sm-10">
                                            <div class="checkbox">                                        <label><input type="checkbox" id="form_isEnabled" name="form[isEnabled]" [(ngModel)]="_formService.getObject().isEnabled" formControlName="isEnabled" [class.error]="_formService.getErrors().isEnabled &amp;&amp; _formService.getErrors().isEnabled.length &gt; 0" value="1" checked="checked" /> Is enabled</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().isEnabled">{{error}}</label>
            </div>
        </div>
        </div>
                    <div class="ibox-footer hide-on-empty">    
                    <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                                            <button                                     class="btn"
                                    (click)="cancelAction($event)"
                                        id="form_cancel"
            name="form[cancel]"
            type="button"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                                <button                                     class="btn"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAndCloseAction($event)"
                                        id="form_saveAndClose"
            name="form[saveAndClose]"
            type="button"><i class="fa fa-times"></i>&nbsp;Save and Close</button>
                                </div>
        </div>
    </div>                        
    <input type="hidden" id="form__token" name="form[_token]" value="M8-tON1Vm7zaCf91I5KVuSjoLzkFt9Gsl7a9uNrScso" /></form>
                </div>
            </div>
        </div>
    </div>
</div>