<ng-template [ngIf]="_object && _object['id']">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="valign-div-container" *ngIf="!_object['_isSessionStorage']"><span [innerHTML]="_object['code'] || _object['id']"></span><span *ngIf="_object['name']">&nbsp;&nbsp;@&nbsp;&nbsp;{{ _object['name'] }}</span><a
                    *ngIf="_actionsService.getActionAttr('edit', 'isEnabled')"
                    [ngClass]="[_actionsService.getActionAttr('edit', 'icon')]"
                    class="action valign-div-component valign-div-component-middle -round fa"
                    (click)="editAction($event, 'edit')"></a></h2>
            <div class="row m-l-xs">
                <ng-template ngFor let-field [ngForOf]="_fields['view']">
                    <div class="col-sm-6"
                         *ngIf="!_helperService.inArray(field, ['id', 'code', 'name', 'isEnabled', 'insertTime', 'insertUser']) && _object[field]">
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['number', 'percentage', 'monetary', 'icon'])"><strong>{{ _fields['metadata'][field]['label'] }}</strong>:&nbsp;<span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['boolean', 'status'])"><span [innerHTML]="_object[field]"></span>&nbsp;<strong>{{ _fields['metadata'][field]['label'] }}</strong></p>
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['avatar', 'img'])"><span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="!_helperService.inArray(_fields['metadata'][field]['type'], ['number', 'percentage', 'monetary', 'status', 'icon', 'boolean', 'avatar', 'img'])"><strong>{{ _fields['metadata'][field]['label'] }}</strong><br/><span [innerHTML]="_object[field]"></span></p>
                    </div>
                </ng-template>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="well m-b-sm m-t-md">
                <p><span [innerHTML]="_object['isEnabled']"></span>&nbsp;<strong>{{ _fields['metadata']['isEnabled']['label'] }}</strong></p>
                <p><strong>{{ _fields['metadata']['insertTime']['label'] }}</strong><br/><span [innerHTML]="_object['insertTime']"></span></p>
                <p><strong>{{ _fields['metadata']['insertUser']['label'] }}</strong><br/><span [innerHTML]="_object['insertUser']"></span></p>
            </div>
        </div>
            </div>
</ng-template>
