.modal {
    opacity: 0; // Animation turns opacity to "1"
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2050 !important;
    outline: 0;

    .modal-dialog {
        z-index: 2200;
    }

    .modal-content {
        .modal-header {
            display: block !important;
        }

        .modal-body {
            padding: 20px 30px 30px 30px;
        }

        .modal-footer {
            display: block !important;
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2050 !important; // Same z-index, the position wins
    background-color: #000;
    opacity: 0.5;
}