<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">{{getProviderAttr('label')}}</h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    <form name="form" method="post" (ngSubmit)="saveAction($event)" ngNoForm="" class="image-crop form-horizontal">
        <div class="row">
            <div class="col-sm-8 image-container"><img class="image" src="{{getWebPath()}}"></div>
            <div class="col-sm-4 image-container"><div class="image-preview"></div></div>
        </div>
        <input type="hidden" value="" name="path" class="path">
        <input type="hidden" value="" name="width" class="width">
        <input type="hidden" value="" name="height" class="height">
        <input type="hidden" value="" name="x" class="x">
        <input type="hidden" value="" name="y" class="y">
    <input type="hidden" id="form__token" name="form[_token]" value="Pyn_BcDiS9gJO25dJpE9EFTFCI4Haq4yNZSoquhdIAw" /></form>
</div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        <div class="row">
        <div class="col-auto ml-auto">
            <button type="button" class="btn-light btn" (click)="closeAction($event)">Cancel</button>
            <button type="button" class="btn-primary btn" (click)="saveAction($event)">Save and Close</button>
        </div>
    </div>
</div>