{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="assets/user/user-calendar/index/css/all.css"
        '@fullcalendar_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_calendar"></div>
{% endblock %}

{% block vendor_javascripts %}
    {{ parent() }}

    {% javascripts output="assets/user/user-calendar/index/js/vendor.js"
        '@moment_js'
        '@fullcalendar_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block local_javascripts %}
    {% javascripts output="assets/user/user-calendar/index/js/local.js"
        '@UserBundle/Resources/public/user-calendar/index/ts/dist/inline.bundle.js'
        '@UserBundle/Resources/public/user-calendar/index/ts/dist/polyfills.bundle.js'
        '@UserBundle/Resources/public/user-calendar/index/ts/dist/vendor.bundle.js'
        '@UserBundle/Resources/public/user-calendar/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}