<div class="accordion" id="accordion">
                                        <div class="card">
    <div class="card-header"><div class="row align-items-center">
            <h5 class="col mr-auto"
                (click)="_navManagerService.navToAction(0)"
                [innerHTML]="getLang('Addresses')"></h5>
                        <div *ngIf="_navManagerService.getComponentRef(0) && _navManagerService.getComponentRef(0).instance._actionsService"
                 class="col-auto text-right actions no-user-select">
                <ng-template [ngIf]="_navManagerService.getComponentRef(0).instance._actionsService.getActionAttr('search', 'isEnabled')">
                    <js_search [injector]="_navManagerService.getComponentRef(0).instance._injector || null" class="search"></js_search>
                </ng-template>
                <div (click)="_navManagerService.getComponentRef(0).instance.triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_navManagerService.getComponentRef(0).instance._actionsService.getHeadActions()">
                        <a *ngIf="_navManagerService.getComponentRef(0).instance._actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_navManagerService.getComponentRef(0).instance._actionsService.getActionAttr(action, 'icon')]"
                           class="-round fa"
                           [attr.data-action]="action"></a>
                    </ng-template>
                </div>
            </div>
                    </div></div>
        <div class="collapse"
         [class.show]="0 === _navManagerService.getIndex()">
        <div class="card-body js_lazyLoadContainer_0">
            <ng-template #js_lazyLoadContainer></ng-template>
        </div>
    </div>
    </div>                            <div class="card">
    <div class="card-header"><div class="row align-items-center">
            <h5 class="col mr-auto"
                (click)="_navManagerService.navToAction(1)"
                [innerHTML]="getLang('Phones')"></h5>
                        <div *ngIf="_navManagerService.getComponentRef(1) && _navManagerService.getComponentRef(1).instance._actionsService"
                 class="col-auto text-right actions no-user-select">
                <ng-template [ngIf]="_navManagerService.getComponentRef(1).instance._actionsService.getActionAttr('search', 'isEnabled')">
                    <js_search [injector]="_navManagerService.getComponentRef(1).instance._injector || null" class="search"></js_search>
                </ng-template>
                <div (click)="_navManagerService.getComponentRef(1).instance.triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_navManagerService.getComponentRef(1).instance._actionsService.getHeadActions()">
                        <a *ngIf="_navManagerService.getComponentRef(1).instance._actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_navManagerService.getComponentRef(1).instance._actionsService.getActionAttr(action, 'icon')]"
                           class="-round fa"
                           [attr.data-action]="action"></a>
                    </ng-template>
                </div>
            </div>
                    </div></div>
        <div class="collapse"
         [class.show]="1 === _navManagerService.getIndex()">
        <div class="card-body js_lazyLoadContainer_1">
            <ng-template #js_lazyLoadContainer></ng-template>
        </div>
    </div>
    </div>                            <div class="card">
    <div class="card-header"><div class="row align-items-center">
            <h5 class="col mr-auto"
                (click)="_navManagerService.navToAction(2)"
                [innerHTML]="getLang('Emails')"></h5>
                        <div *ngIf="_navManagerService.getComponentRef(2) && _navManagerService.getComponentRef(2).instance._actionsService"
                 class="col-auto text-right actions no-user-select">
                <ng-template [ngIf]="_navManagerService.getComponentRef(2).instance._actionsService.getActionAttr('search', 'isEnabled')">
                    <js_search [injector]="_navManagerService.getComponentRef(2).instance._injector || null" class="search"></js_search>
                </ng-template>
                <div (click)="_navManagerService.getComponentRef(2).instance.triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_navManagerService.getComponentRef(2).instance._actionsService.getHeadActions()">
                        <a *ngIf="_navManagerService.getComponentRef(2).instance._actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_navManagerService.getComponentRef(2).instance._actionsService.getActionAttr(action, 'icon')]"
                           class="-round fa"
                           [attr.data-action]="action"></a>
                    </ng-template>
                </div>
            </div>
                    </div></div>
        <div class="collapse"
         [class.show]="2 === _navManagerService.getIndex()">
        <div class="card-body js_lazyLoadContainer_2">
            <ng-template #js_lazyLoadContainer></ng-template>
        </div>
    </div>
    </div>                            <div class="card">
    <div class="card-header"><div class="row align-items-center">
            <h5 class="col mr-auto"
                (click)="_navManagerService.navToAction(3)"
                [innerHTML]="getLang('Links')"></h5>
                        <div *ngIf="_navManagerService.getComponentRef(3) && _navManagerService.getComponentRef(3).instance._actionsService"
                 class="col-auto text-right actions no-user-select">
                <ng-template [ngIf]="_navManagerService.getComponentRef(3).instance._actionsService.getActionAttr('search', 'isEnabled')">
                    <js_search [injector]="_navManagerService.getComponentRef(3).instance._injector || null" class="search"></js_search>
                </ng-template>
                <div (click)="_navManagerService.getComponentRef(3).instance.triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_navManagerService.getComponentRef(3).instance._actionsService.getHeadActions()">
                        <a *ngIf="_navManagerService.getComponentRef(3).instance._actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_navManagerService.getComponentRef(3).instance._actionsService.getActionAttr(action, 'icon')]"
                           class="-round fa"
                           [attr.data-action]="action"></a>
                    </ng-template>
                </div>
            </div>
                    </div></div>
        <div class="collapse"
         [class.show]="3 === _navManagerService.getIndex()">
        <div class="card-body js_lazyLoadContainer_3">
            <ng-template #js_lazyLoadContainer></ng-template>
        </div>
    </div>
    </div>                        </div>