
<div class="table-responsive">
    <form>    <table class="data-table table table-hover dataTables-example table-bordered">
        <thead>
        <tr>
            <th *ngFor="let searchField of _dataService.getSearch('fields')">{{ getLang(_dataService.getFields('metadata')[searchField].label) }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>        <tbody>
        <ng-template ngFor let-obj [ngForOf]="_dataService.getProviderAttr('objects')" let-objIndex="index">
        <tr (dblclick)="editAction($event, objIndex)"            [ngClass]="getLegendClasses(obj, 'tr')"><td *ngFor="let searchField of _dataService.getSearch('fields')"
    [ngClass]="getColAlign(searchField)"
    [innerHTML]="obj[searchField]"></td>            <td>
                <span *ngIf="obj['_isNew']" class="badge badge-info">New</span>
                <span *ngIf="obj['_isEdited']" class="badge badge-info">Edited</span>
                <input *ngIf="_actionsService.getActionAttr('radioChoice', 'isEnabled')"
                       class="pull-right action"
                       type="radio"
                       name="index[]"
                       value="{{objIndex}}"/>
                <input *ngIf="_actionsService.getActionAttr('checkAll', 'isEnabled')"
                       class="pull-right action js_checkAll"
                       type="checkbox"
                       name="index[]"
                       value="{{objIndex}}"
                       [ngModel]="checkAll"/>
                <div class="pull-right actions no-user-select text-secondary" (click)="triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_actionsService.getDetailActions()">
                        <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_actionsService.getActionAttr(action, 'icon') + getActionsLegendClasses(obj, action)]"
                           class="fa"
                           [attr.data-action]="action"
                           [attr.data-value]="objIndex"></a>
                    </ng-template>
                </div>
            </td>        </tr>
        </ng-template>
        </tbody>
    </table>
    </form></div>