    <nav>
        <div class="nav nav-tabs" role="tablist">
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(0)"
                   [class.active]="0 == _navManagerService.getIndex()"
                   [attr.data-index]="0"
                   [innerHTML]="getLang('Users')"
                   ></a>
                    </div>
    </nav>
    <div class="tab-content">
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_0"
                                  role="tabpanel"
                 [class.show]="0 == _navManagerService.getIndex()"
                 [class.active]="0 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
            </div>
