

    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

    
            

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_password">Password</label>
    
            <div class="col-sm-10">
                                            <input [(ngModel)]="_formService.getObject().password"
           formControlName = password
           class="password"
           name="form[password]"
           required="required"           type="hidden">
    <js_password [field]="'password'"></js_password>
                    <label class="error" *ngFor="let error of _formService.getErrors().password">{{error}}</label>
            </div>
        </div>
        

    

    <input type="hidden" id="form__token" name="form[_token]" value="Pyn_BcDiS9gJO25dJpE9EFTFCI4Haq4yNZSoquhdIAw" /></form>
