.legend {
    dt {
        border: 1px solid $border-color;
        height: 15px;
        width: 20px;
    }

    dt, dd {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
    }

    &-canceled {
        color: $secondaryLightColor;
        background-color: #dee2e6;
    }

    &-grouped {
        color: $secondaryLightColor;
        background-color: #faf6e2 !important;
    }

    &-grouper {
        border: 2px solid $warningColor !important;
    }
}