<div class="modal-body">
    <div class="form-wrapper gray-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h5>
                        <div class="txt-align-r actions">
                            <a class="-round fa fa-times"
                               (click)="closeAction($event)"></a>
                        </div>
                    </div>
                        
    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">
                    <div class="ibox-content">
    
    <div class="row">
        <div class="col-sm-6">
            <img *ngIf="_dataService.getLocalDataAttr('storeLogo')"
                 height="96"
                 alt="logo"
                 class="m-b-md"
                 [src]="_helperService.getUploadWebPath(_dataService.getLocalDataAttr('storeLogo'), 'resize_96')">
            <address>
                <strong>{{_formService.getObject().storeLegalName}}</strong><br>
                <ng-template
                    [ngIf]="_formService.getObject().storeStreet1"
                    ><span>{{_formService.getObject().storeStreet1}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storeStreet2"
                    ><span>{{_formService.getObject().storeStreet2}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storePostCode"
                    ><span>{{_formService.getObject().storePostCode}} {{_formService.getObject().storeCity}}</span><br></ng-template><ng-template
                    [ngIf]="_formService.getObject().storeRegion"
                    ><span>{{_formService.getObject().storeRegion}}</span><br></ng-template>            </address>
            <ng-template ngFor let-field [ngForOf]="_dataService.getLocalDataAttr('storeInfo')"><span
                    [innerHtml]="field"></span><br></ng-template>
            <p class="m-t-sm">Tax Number: {{_formService.getObject().storeTaxNumber}}</p>
        </div>
        <div class="col-sm-6">
            <h3 *ngIf="_formService.getObject().code" class="document-number text-right"><span>{{_formService.getObject().documentType_name}}:&nbsp;</span>                        <p id="form_code"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().code"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().code">{{error}}</label>
</h3>
            <table class="table document-dates">
                <tbody>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>                        
    <div class="input-group js_dataPicker"
         [datePicker]="'date'"
         #dpk_date="" [control]="dpk_date">
        <input [(ngModel)]="_formService.getObject().date"
               formControlName = date
               name="form[date]"
               required="required"               class="form-control"
               [class.error]="_formService.getErrors()['date'] && (_formService.getErrors()['date'].length > 0)"
               placeholder="yyyy-mm-dd"
               ngbDatepicker #dpk_date="ngbDatepicker">
        <a class="input-group-addon action dsp-table-cell fa fa-calendar"></a>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().date">{{error}}</label>
</td>
                </tr>
                <tr>
                    <td><strong>Due Date:</strong></td>
                    <td>                        
    <div class="input-group js_dataPicker"
         [datePicker]="'dueDate'"
         #dpk_dueDate="" [control]="dpk_dueDate">
        <input [(ngModel)]="_formService.getObject().dueDate"
               formControlName = dueDate
               name="form[dueDate]"
               required="required"               class="form-control"
               [class.error]="_formService.getErrors()['dueDate'] && (_formService.getErrors()['dueDate'].length > 0)"
               placeholder="yyyy-mm-dd"
               ngbDatepicker #dpk_dueDate="ngbDatepicker">
        <a class="input-group-addon action dsp-table-cell fa fa-calendar"></a>
    </div>
    
                <label class="error" *ngFor="let error of _formService.getErrors().dueDate">{{error}}</label>
</td>
                </tr>                </tbody>
            </table>

            <div class="dsp-table">
                <span class="pd-r-xs">To:</span>
                <div class="document-entity m-t-xs">
                    <span *ngIf="_formService.getObject().entity_avatar" [innerHTML]="_formService.getViewObject().entity_avatar" class="pd-r-xs"></span>
                    <address>
                        <strong>{{_formService.getObject().entityLegalName}}</strong><br>
                        <div class="m-t-xs m-b-xs">
                                                        <input [(ngModel)]="_formService.getObject().entityAddressObj"
           formControlName = entityAddressObj
           name="form[entityAddressObj]"
                      type="hidden">
    <js_autoComplete [field]="'entityAddressObj'"
                     [selfReference]="_dataService.getFieldChoicesAttr('entityAddressObj', 'selfReference')"
                                              (onChange)="onEntityAddressChange($event)"[placeholder]="&#039;Address&#039;"                         ></js_autoComplete>
                    <label class="error" *ngFor="let error of _formService.getErrors().entityAddressObj">{{error}}</label>
                        </div>
                        <ng-template
                            [ngIf]="_formService.getObject().entityStreet1"
                            ><span>{{_formService.getObject().entityStreet1}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityStreet2"
                            ><span>{{_formService.getObject().entityStreet2}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityPostCode"
                            ><span>{{_formService.getObject().entityPostCode}} {{_formService.getObject().entityCity}}</span><br></ng-template><ng-template
                            [ngIf]="_formService.getObject().entityRegion"
                            ><span>{{_formService.getObject().entityRegion}}</span><br></ng-template>                    </address>
                </div>
            </div>
            <p class="m-t-sm">Tax Number: {{_formService.getObject().entityTaxNumber}}</p>
        </div>
    </div>

    <div class="m-t-sm">
        <span>Comments</span>
        <div class="well document-comments">                            <textarea id="form_comments" name="form[comments]" rows="3" [(ngModel)]="_formService.getObject().comments" formControlName="comments" [class.error]="_formService.getErrors().comments &amp;&amp; _formService.getErrors().comments.length &gt; 0" class="form-control"></textarea>
                <label class="error" *ngFor="let error of _formService.getErrors().comments">{{error}}</label>
</div>
    </div>

            <section><ng-template #js_lazyLoadContainer></ng-template></section>
    
    <div class="row">
        <div class="col-sm-8">
            <ng-template [ngIf]="_dataService.getLocalDataAttr('totalVatSplitByCode')">
            <span>TAX Resume</span>
            <div class="well document-tax-resume">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Percentage</th>
                        <th>Net</th>
                        <th>TAX</th>
                        <th>Total</th>
                    </tr>
                    <tr *ngFor="let obj of _dataService.getLocalDataAttr('totalVatSplitByCode')">
                        <td>{{ obj['name'] }}</td>
                        <td>{{ obj['description'] }}</td>
                        <td class="text-right">{{ obj['percentage'] }}%</td>
                        <td class="text-right">{{ obj['subTotal'] }}</td>
                        <td class="text-right">{{ obj['totalVat'] }}</td>
                        <td class="text-right">{{ obj['total'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <table class="table document-total">
                <tbody>
                <tr>
                    <td><strong>Sub Total:</strong></td>
                    <td>                            <input type="text" id="form_subTotal" name="form[subTotal]" readonly="readonly" [(ngModel)]="_formService.getObject().subTotal" formControlName="subTotal" [class.error]="_formService.getErrors().subTotal &amp;&amp; _formService.getErrors().subTotal.length &gt; 0" class="form-control" value="0" />
                <label class="error" *ngFor="let error of _formService.getErrors().subTotal">{{error}}</label>
</td>
                </tr>
                <tr>
                    <td><strong>TAX:</strong></td>
                    <td>                            <input type="text" id="form_totalVat" name="form[totalVat]" readonly="readonly" [(ngModel)]="_formService.getObject().totalVat" formControlName="totalVat" [class.error]="_formService.getErrors().totalVat &amp;&amp; _formService.getErrors().totalVat.length &gt; 0" class="form-control" value="0" />
                <label class="error" *ngFor="let error of _formService.getErrors().totalVat">{{error}}</label>
</td>
                </tr>
                <tr>
                    <td><strong>TOTAL:</strong></td>
                    <td>                            <input type="text" id="form_total" name="form[total]" readonly="readonly" [(ngModel)]="_formService.getObject().total" formControlName="total" [class.error]="_formService.getErrors().total &amp;&amp; _formService.getErrors().total.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().total">{{error}}</label>
</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="_dataService.getLocalDataAttr('documentInfo') && _dataService.getLocalDataAttr('documentInfo')['footer']"
         class="well m-t"
         [innerHTML]="_dataService.getLocalDataAttr('documentInfo')['footer']"></div>
</div>
                    <div class="ibox-footer hide-on-empty">    
                    <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                                            <button                                     class="btn"
                                    (click)="cancelAction($event)"
                                        id="form_cancel"
            name="form[cancel]"
            type="button"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                                                <button                                     class="btn"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAndCloseAction($event)"
                                        id="form_saveAndClose"
            name="form[saveAndClose]"
            type="button"><i class="fa fa-times"></i>&nbsp;Save and Close</button>
                                </div>
        </div>
    </div>                        
    <input type="hidden" id="form__token" name="form[_token]" value="y_X653isBIPUjhTqIFoEMS38F6y1pjJHhEkNvonaMMU" /></form>
                </div>
            </div>
        </div>
    </div>
</div>