{% extends 'AppBundle::base-popup.html.twig' %}
{% block header_container %}{% verbatim %}{{getProviderAttr('label')}}{% endverbatim %}{% endblock %}
{% block body %}
    {{ form_start(_form, {'attr': {
        'class': 'image-crop'
    }}) }}
        <div class="row">
            <div class="col-sm-8 image-container"><img class="image" src="{% verbatim %}{{getWebPath()}}{% endverbatim %}"></div>
            <div class="col-sm-4 image-container"><div class="image-preview"></div></div>
        </div>
        <input type="hidden" value="" name="path" class="path">
        <input type="hidden" value="" name="width" class="width">
        <input type="hidden" value="" name="height" class="height">
        <input type="hidden" value="" name="x" class="x">
        <input type="hidden" value="" name="y" class="y">
    {{ form_end(_form) }}

    <div class="hr-line-solid"></div>

    <div class="form-horizontal"><div class="form-group">
        <div class="col-sm-12">
            <button class="btn-default btn" type="button" (click)="closeAction($event)">Cancel</button>
            <button class="btn-primary btn" type="button" (click)="saveAction($event)">Save and Close</button>
        </div>
    </div></div>
{% endblock %}