@import "../../scss/variables";

dl.legend {
    dt {
        border: 1px solid #000;
        height: 15px;
        width: 20px;
    }

    dt, dd {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}