{% block wizard_header %}{% endblock %}

{% block wizard_container %}
    {% if (_containers is defined) %}
        <ul class="row mb-3 no-gutters wizard-nav">
            {% for key, value in _containers %}
                <li class="col-auto wizard-step"
                    [class.step-active]="{{key}} == _wizardManagerService.getIndex()">
                    <span class="step-number">{{key + 1}}</span>
                    <span class="step-text" [innerHTML]="getLang('{{value['label']}}')"></span>
                </li>
            {% endfor %}
        </ul>

        {% block before_steps %}{% endblock %}

        {% block steps %}
            {# Override this block if you want to define static steps. #}
            {% for key, value in _containers %}
                {% include 'AppBundle:wizard:lazy-load-container.html.twig' %}
            {% endfor %}
        {% endblock %}

        {% block after_steps %}{% endblock %}

    {% endif %}
{% endblock %}

{% block wizard_footer %}{% endblock %}

{% block wizard_buttons %}
    {% include 'AppBundle:wizard:partial/buttons.html.twig' %}
{% endblock %}