<div class="modal-body">
    <div class="form-wrapper gray-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h5>
                        <div class="txt-align-r actions">
                            <a class="-round fa fa-times"
                               (click)="closeAction($event)"></a>
                        </div>
                    </div>
                                        <div class="ibox-content">    <div class="wizard">
        <ul class="wizard-nav">
                            <li class="wizard-step"
                    [class.step-active]="0 == _wizardManagerService.getIndex()">
                    <span class="step-number">1</span>
                    <span class="step-text">Documents</span>
                </li>
                            <li class="wizard-step"
                    [class.step-active]="1 == _wizardManagerService.getIndex()">
                    <span class="step-number">2</span>
                    <span class="step-text">Preview</span>
                </li>
                    </ul>
    </div>

    
        <section [hidden]="_wizardManagerService.getIndex() != 0"
         class="js_lazyLoadContainer_0">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>
    <section [hidden]="_wizardManagerService.getIndex() != 1"
         class="js_lazyLoadContainer_1">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>
    
</div>
                    <div class="ibox-footer hide-on-empty">    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn-default btn" type="button" (click)="_wizardManagerService.cancelAction($event)">Cancel</button>
                <button class="btn-primary btn" type="button" (click)="_wizardManagerService.prevAction($event)"
                        *ngIf="0 < _wizardManagerService.getIndex()">Prev</button>
                <button class="btn-primary btn" type="button" (click)="_wizardManagerService.nextAction($event)"
                        *ngIf="1 > _wizardManagerService.getIndex()">Next</button>
                                    <button class="btn-primary btn" type="button" (click)="_wizardManagerService.finishAction($event)"
                            *ngIf="1 == _wizardManagerService.getIndex()">Finish</button>
                            </div>
        </div>
    </div>
</div>                                    </div>
            </div>
        </div>
    </div>
</div>