
<div class="ibox">
            <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
            <h5>
                <ng-template [ngIf]="getProviderAttr('controls')['expander']"><js_expander
                    [isExpanded]="_isExpanded || null"
                    [label]="getProviderAttr('label')"
                    (onChange)="expanderAction($event)"></js_expander></ng-template>
                <ng-template [ngIf]="!getProviderAttr('controls')['expander']">
                    <span [innerHTML]="getProviderAttr('label')"></span>
                </ng-template>
            </h5>
            <div *ngIf="_isExpanded"
                 class="txt-align-r hide-on-empty">    <div class="actions no-user-select">
        <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
        <div (click)="triggerAction($event)">
            <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                   [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                   class="-round fa"
                   [attr.data-action]="action"></a>
            </ng-template>
        </div>
    </div>
</div>
        </div>
    
    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty"><div class="row">
    <div class="col-md-4 pd-t-sm">
        

    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

    
            

            <div class="form-group" >

                        <label class="col-sm-2 control-label required" for="form_userObj">User</label>
    
            <div class="col-sm-10">
                                            <input [(ngModel)]="_formService.getObject().userObj"
           formControlName = userObj
           name="form[userObj]"
           required="required"           type="hidden">
    <js_autoComplete [field]="'userObj'"
                     [selfReference]="_dataService.getFieldChoicesAttr('userObj', 'selfReference')"
                                                                       ></js_autoComplete>
                    <label class="error" *ngFor="let error of _formService.getErrors().userObj">{{error}}</label>
            </div>
        </div>
        

    

    <input type="hidden" id="form__token" name="form[_token]" value="k7Slj78R8awm6f1FKW0h9mt_BL-l2sQA4VReD7mUfQo" /></form>
    </div>
    <div class="col-md-8 pd-t-sm dyn-border-l"><div class="form-group">    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
        <div class="choices-box"><ul><li *ngFor="let obj of _dataService.getProviderAttr('objects'); let objIndex = index">
        <span>{{obj['name']}}</span><a class="action fa fa-times"
                (click)="deleteAction($event, objIndex)"></a>
    </li></ul></div>
    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
</div></div>
</div>
</div>
    
</div>

