    <div class="row form-group">
        <label class="col-sm-2 control-label">Payment Info</label>
        <div class="col-sm-10">
            <div class="form-control-box"><ng-template #js_entityDetailPreview></ng-template></div>
        </div>
    </div>



    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

    
            

                <div class="row form-group" >

                        <label class="col-sm-2 control-label">Payment Method</label>
    
            <div class="col-sm-10">
                                                                                <div class="form-control-box"
         [ngClass]="{'error': _formService.getErrors().paymentMethodObj && (_formService.getErrors().paymentMethodObj.length > 0)}"
                                                                                                            (click)="_formService.setFormFieldValue('paymentMethodObj', $event.target.value); onPaymentMethodChange($event.target.value)">
                <div class="radio"
             *ngFor="let choice of _dataService.getFieldChoices('paymentMethodObj')">
            <label ><input
                type="radio"
                value="{{choice['id']}}"
                [checked]="_formService.getObject().paymentMethodObj == choice['id']">&nbsp;<span [innerHTML]="choice['label']"></span></label>
            <div class="tip-box"
                 *ngIf="(_formService.getObject().paymentMethodObj == choice['id']) && (choice['description'])"><small class="pre-wrap">{{choice['description']}}</small></div>
        </div>
        <input [(ngModel)]="_formService.getObject().paymentMethodObj"
               formControlName="paymentMethodObj"
               name="form[paymentMethodObj]"
                              type="hidden">
    </div>
                                <label class="error" *ngFor="let error of _formService.getErrors().paymentMethodObj">{{error}}</label>
            </div>
        </div>
            <div [hidden]="appPaymentMethod_name != 'Paypal'" class="row">
        <div id="paypal-button"
             class="offset-sm-2 col-sm-8"></div>
    </div>


    

    <input type="hidden" id="form__token" name="form[_token]" value="mX-n0NYyqV2PkTrD4pleD_yna_C-XC62nsS1XXdMkXQ" /></form>

