{% extends 'AppBundle:tree-view:popup.html.twig' %}

{% block footer_container %}
    <div class="row">
        <div class="col-auto ml-auto">
            <button type="button" class="btn-light btn" (click)="cancelAction($event)">Cancel</button>
            <button type="button" class="btn-primary btn" (click)="saveAndCloseAction($event)">Save and Close</button>
        </div>
    </div>
{% endblock %}