{% extends 'AppBundle::base.html.twig' %}

{% block header %}{% endblock %}

{% block stylesheets %}
    {% stylesheets output="assets/app/tree-view/default/css/local.css"
    '@AppBundle/Resources/public/tree-view/default/scss/dist/styles.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_treeView"></div>
{% endblock %}

{% block javascripts %}{% endblock %}