{% extends 'AppBundle::base.html.twig' %}

{% block header %}{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="assets/app/tree-view/css/local.css"
        '@AppBundle/Resources/public/tree-view/scss/styles.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_treeView"></div>
{% endblock %}

{% block local_javascripts %}{% endblock %}