<form>
    <ul class="tree-view">
        <js_treeViewNode [nodes]="getNodes(0)"
                         [nodesIndex]="0"
                         [parentTargetField]="_provider['parentTargetField']"
                         [treeViewComponent]="_treeViewComponent"></js_treeViewNode>
    </ul>
</form>