{% extends 'AppBundle:data-box:base.html.twig' %}
{% block body_container %}
    <div class="table-responsive">
        <form><div class="gallery">
            <a class="gallery-item -video"
               *ngFor="let obj of _dataService.getProviderAttr('objects'); let index = index"
               (click)="playAction($event, obj)"
               title="{% verbatim %}{{obj['name']}}{% endverbatim %}">
                <img *ngIf="obj['thumbnail']" src="{% verbatim %}{{obj['thumbnail']}}{% endverbatim %}" alt="{% verbatim %}{{obj['name']}}{% endverbatim %}">
                <span *ngIf="!obj['thumbnail']">{% verbatim %}{{obj['name']}}{% endverbatim %}</span>
                <div class="actions no-user-select horizontal-group-box"
                     (click)="triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_actionsService.getDetailActions()">
                        <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                           class="fa"
                           [attr.data-action]="action"
                           [attr.data-value]="index"></a>
                    </ng-template>
                </div>
            </a>
        </div></form>
    </div>
{% endblock %}