{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="assets/app/video/css/all.css"
        '@AppBundle/Resources/public/css/wizard.css'
        '@AppBundle/Resources/public/scss/_gallery.scss'
        '@AppBundle/Resources/public/css/video-player.css'
        '@dropzone_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_video"></div>
{% endblock %}

{% block local_javascripts %}
    {% javascripts output="assets/app/video/js/local.js"
        '@AppBundle/Resources/public/video/webpack_generated/common.js'
        '@AppBundle/Resources/public/video/webpack_generated/app.js'
        '@AppBundle/Resources/public/video/webpack_generated/main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}