
            <ul class="row mb-3 no-gutters wizard-nav">
                            <li class="col-auto wizard-step"
                    [class.step-active]="0 == _wizardManagerService.getIndex()">
                    <span class="step-number">1</span>
                    <span class="step-text">Customer</span>
                </li>
                            <li class="col-auto wizard-step"
                    [class.step-active]="1 == _wizardManagerService.getIndex()">
                    <span class="step-number">2</span>
                    <span class="step-text">Payment</span>
                </li>
                    </ul>

        
            <div class="p-3 my-3 border border-secondary rounded-md ">
                                                            <section [hidden]="_wizardManagerService.getIndex() != 0"><ng-template #js_entityContactsForm></ng-template></section>                                            <section [hidden]="_wizardManagerService.getIndex() != 1"
         class="js_lazyLoadContainer_1">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>                </div>

        
    

    <div class="row justify-content-center">
    <div class="col-auto">
                    <button type="button" class="btn-primary btn" (click)="_wizardManagerService.prevAction($event)"
                    *ngIf="0 < _wizardManagerService.getIndex()">Prev</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.nextAction($event)"
                    *ngIf="1 > _wizardManagerService.getIndex()">Next</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.finishAction($event)"
                    *ngIf="1 == _wizardManagerService.getIndex()">Finish</button>
            </div>
</div>