/*------------------------------------------------------------------
[Custom Stylesheet]
Last change:	03/25/2013
Assigned to:	You
-------------------------------------------------------------------*/

/* Clear para divs */
div.clear
{
	clear: both;
}
/* /Clear para divs */


/* Loading skin */
#loading_skin {
	width:100%;
	height:100%;
	padding-top:4%;
	text-align:center;
	border: none 0px;
	background-color:#FFFFFF;
	display:block;
	position:fixed;
	z-index:99;
}
/* /Loading skin */


/* Menus das options dos formularios */
.options_menu
{
	position:relative;
	float:right;
	padding-right:6px;
}
/* /Menus das options dos formularios */