@import "../../../../../../AppBundle/Resources/public/scss/variables";

.height104 {
    min-height: 104px;
    max-height: 104px;
    overflow: auto;
}
.height52 {
    min-height: 52px;
    max-height: 52px;
    overflow: auto;
}

.chkStatus > .checkbox {
    display: inline-block;
}