{% extends 'AppBundle::base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}

    {% set emailTemplateData = render(controller(
        'BckSettingsBundle:EmailTemplate:data',
        {'responseType': 'json'}
    )) %}

    {% set emailTemplateDefaultData = render(controller(
        'BckSettingsBundle:EmailTemplateDefault:data',
        {'responseType': 'json'}
    )) %}
    <script>
        _app.dependencies.emailTemplate = {{ emailTemplateData|raw }};
        _app.dependencies.emailTemplateDefault = {{ emailTemplateDefaultData|raw }};
    </script>
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div id="js_main"></div>
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/settings/email-settings/index/js/local.js"
        '@BckSettingsBundle/Resources/public/email-settings/index/ts/dist/inline.bundle.js'
        '@BckSettingsBundle/Resources/public/email-settings/index/ts/dist/polyfills.bundle.js'
        '@BckSettingsBundle/Resources/public/email-settings/index/ts/dist/vendor.bundle.js'
        '@BckSettingsBundle/Resources/public/email-settings/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}