


    <form name="form" method="post" (ngSubmit)="saveAction($event)" class="m-3 form-horizontal" [formGroup]="_formService.getForm()">

    
            

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_username">Username</label>
    
            <div class="col-sm-10">
                                            <input type="text" id="form_username" name="form[username]" required="required" maxlength="64" [(ngModel)]="_formService.getObject().username" formControlName="username" [class.error]="_formService.getErrors().username &amp;&amp; _formService.getErrors().username.length &gt; 0" class="form-control" />
                <label class="error" *ngFor="let error of _formService.getErrors().username">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" >

                        <label class="col-sm-2 control-label required" for="form_password">Password</label>
    
            <div class="col-sm-10">
                                            <input [(ngModel)]="_formService.getObject().password"
           formControlName = password
           class="password"
           name="form[password]"
           required="required"           type="hidden">
    <js_password [field]="'password'"></js_password>
                    <label class="error" *ngFor="let error of _formService.getErrors().password">{{error}}</label>
            </div>
        </div>
                

                <div class="row form-group" *ngIf="_formService.getObject().isSent">

                        <label class="col-sm-2 control-label" [innerHTML]="getLang('Is Sent')"></label>
    
            <div class="col-sm-10">
                                        <p id="form_isSent"
               class="form-control-static"
               [innerHTML]="_formService.getViewObject().isSent"></p>
                        <label class="error" *ngFor="let error of _formService.getErrors().isSent">{{error}}</label>
            </div>
        </div>
        

                    <div class="row">
            <div class="col-auto ml-auto">
                                            <button                                     class="btn btn-light"
                                    (click)="resetAction($event)"
                                        id="form_reset"
            name="form[reset]"
            type="button"><i class="fa fa-ban"></i>&nbsp;Reset</button>
                                                <button                                     class="btn btn-primary"
                                    (click)="saveAction($event)"
                                        id="form_save"
            name="form[save]"
            type="button"><i class="fa fa-check"></i>&nbsp;Save and Send</button>
                                </div>
        </div>
    

    <input type="hidden" id="form__token" name="form[_token]" value="cEuu0f4SXmjfjYDFXIJO4B5Hkp8dRrRxqs-vEEkwqNE" /></form>

