<div class="row border-bottom white-bg"><div class="col-lg-12">
    <div class="js_entityDetail"></div>
</div></div>

<div class="row wrapper-content main-body-container"><div class="col-lg-12">
    {% include 'AppBundle:tabs:default.html.twig' with {
        '_containers': _containers
    } %}
</div></div>