@import "variables";

.actions {
    position: relative; // For the expander of search components
    white-space: nowrap;

    > div {
        display: inline-block;
    }
}
.actions a,
.action,
.accordion .panel-heading .actions a { // Used to get a more specific elements to override styles
    display: inline-block;
    vertical-align: middle;
    color: $link_color_primary;
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px !important; // Checkbox need "important" flag to override defaults
    cursor: pointer;
    overflow: hidden;

    &.-checkbox {
        margin: 0 0 0 5px;
    }

    &:empty {
        display: inline-block; // Overrides vendor behavior
    }

    &:hover {
        color: $link-hover_color;
    }

    &:active, &.active {
        color: $link-active_color;
    }

    &.fa {
        font-family: "FontAwesome";
        font-weight: normal;

        &:before {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    &.-round {
        height: 20px;

        &.-round:before {
            height: 20px;
            width: 20px;
            overflow: hidden;
            color: $link_color_secondary;
            background-color: $link_color_primary;
            border-radius: 12px;
        }

        &:hover:before {
            background-color: $link-hover_color;
            color: $link_color_secondary;
        }

        &:active:before {
            background-color: $link-active_color;
            color: $link_color_secondary;
        }
    }
}