$primaryColor: #007bff;
$colorPrimary-hover: #0069d9;
$colorPrimary-active: #0062cc;
$colorWhite: #fff;

.actions {
    position: relative; // For the expander of search components
    white-space: nowrap;

    > div {
        display: inline-block;
    }
}
.actions a,
.action,
.accordion .panel-heading .actions a { // Used to get a more specific elements to override styles
    display: inline-block;
    vertical-align: middle;
    color: $colorWhite;
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px !important; // Checkbox need "important" flag to override defaults
    cursor: pointer;
    overflow: hidden;

    &.-checkbox {
        margin: 0 0 0 5px;
    }

    &:empty {
        display: inline-block; // Overrides vendor behavior
    }

    &:hover {
        color: $colorWhite;
    }

    &:active, &.active {
        color: $colorWhite;
    }

    &.fa {
        font-weight: normal;

        &:before {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    &.-round {
        height: 22px;
        width: 22px;

        &.-round:before {
            height: 22px;
            width: 22px;
            overflow: hidden;
            color: $colorWhite;
            background-color: $primaryColor;
            border-radius: 14px;
        }

        &:hover:before {
            background-color: $colorPrimary-hover;
            color: $colorWhite;
        }

        &:active:before {
            background-color: $colorPrimary-active;
            color: $colorWhite;
        }
    }
}