ul.notes {
    > li{
        list-style: none;
        margin: 24px 0 54px 0;

        &:nth-child(even) > div {
            -o-transform: rotate(4deg);
            -webkit-transform: rotate(4deg);
            -moz-transform: rotate(4deg);
            position: relative;
            top: 5px;
        }

        &:nth-child(3n) > div {
            -o-transform: rotate(-3deg);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            position: relative;
            top: -5px;
        }

        &:nth-child(5n) > div {
            -o-transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            position: relative;
            top: -10px;
        }

        > div {
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 224px;
            width: 90%;
            padding: 1em;
            position: relative;
            overflow: hidden;
            /* Firefox */
            -moz-box-shadow: 5px 5px 7px #212121;
            /* Safari+Chrome */
            -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
            /* Opera */
            box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
            -webkit-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            -moz-transform: rotate(-6deg);
            -moz-transition: -moz-transform 0.15s linear;
            -o-transition: -o-transform 0.15s linear;
            -webkit-transition: -webkit-transform 0.15s linear;

            &:hover,
            &:focus {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                position: relative;
                z-index: 5;
            }

            > small {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 10px;
            }

            > h4 {
                margin-top: 20px;
                font-size: 16px;
            }

            .actions {
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: inherit;
            }

            div {
                font-size: 12px;
            }
        }
    }
}