.search {
    border: solid 1px $border-color;
    border-radius: 4px;
    display: inline-block;
    padding: 0 1px 1px 0;

    &-criteria,
    &-order-by {
        position: absolute;
        width: 100%;
        z-index: 999;

        .controller {
            display: table;
            white-space: nowrap;
            margin-bottom: 3px;

            > * {
                display: table-cell;
                vertical-align: middle;
            }

            > .select {

                > select,
                > input {
                    display: inline-block;
                    width: auto;
                }
            }

            > .actions {
                width: 100%;
                padding-left: 8px;
            }
        }
    }

    &-fields {
        select {
            border: 0 none;
            margin: 0;
            padding: 0;
        }
    }

    &-pagination {
        font-weight: bold;
        overflow: hidden;

        > a,
        > span {
            display: block;
            text-align: center;
        }

        > a {
            font-family: serif;
            font-weight: bold;
            font-size: 46px;
            line-height: 32px;
            cursor: pointer;
            position: relative;
            top: -14px;
        }
    }
}