// Vendor
$fa-font-path: "../../../vendor/font-awesome/fonts"; // Override "font-awesome" variable
@import "../../../../../bower_components/font-awesome/scss/font-awesome.scss";

// Base
@import "variables";
@import "helper";
@import "../styles/style";

// Components
@import "../modal/scss/modal";
@import "search";
@import "expander";
@import "actions";


/**
 * Specific cases to override to keep expected behavior
 */
a.label, a.badge {
    color: #5e5e5e;

    &-primary, &-info, &-success, &-warning, &-danger {
        color: #ffffff !important;
    }
}

/**
 * Main containers
 */
.main-head-breadcrumb {
    padding: 10px;
}
.main-body-container {
    //position: relative; // Breaks modal!!!! It is needed to keep div over the footer when an auto-complete expands
    // change the footer instead in order to not be necessary this property
    z-index: 1;
}
.main-footer {
    z-index: 0;
}

/**
 * Images
 */
.thumbnail {
    display: inline-block;
    margin: 0;
}

/**
 * Calendar
 */
.js_remove {
    &:after {
        content: 'x Remove';
        text-align: center;
        display: block;
        border: solid 1px;
        border-radius: 3px;
        padding: 2px;
        margin: 2px;
        white-space: nowrap;
        overflow: hidden;
    }
}

/**
 * Store
 */
.store {
    display: inline-block;
    white-space: nowrap;
    padding: 3px 8px;
    border-radius: 0.25em;
    font-weight: 600;
    color: #ffffff;
}

/**
 * Status
 */
.status, span.status {
    height: 14px;
    width: 14px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: sub; //

    &.-danger {
        background-color: #ed5565;
    }

    &.-warning {
        background-color: #f8ac59;
    }

    &.-primary {
        background-color: #1ab394;
    }
}




/* General */
// Containers
.container-round {
    border: 1px solid #e7eaec;
    border-radius: 4px;
    padding: 25px;

    &-white {
        background-color: #fff;
    }
}
.tip-box {
    border: 1px solid #e7eaec;
    margin: 8px 0 12px;
    padding: 10px 20px;
    line-height: 16px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.ibox .ibox-content {
    // overflow: auto !important; // This put the auto-complete behind the footer, don't use!
}
// dropdown
.white-dropdown {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    min-width: 160px;
    margin: 2px 0 0;
    text-align: left;
    background-color: #fff;
    padding: 8px;
    overflow: auto;
}
// jumbotron
.jumbotron {
    background-color: $bgc_gray;
    color: $fc_dark-gray;

    .badge.-header {
        margin-bottom: 15px;
        border-radius: 4px;
        display: block;
        font-weight: bold;
        background-color: $bgc_dark-gray;
        color: $fc_white;
        font-size: $fs_md;
    }
}
// tabs
.tabs-container {
    ul.nav-tabs {
        > li {
            > a {
                color: $fc_dark-gray;
            }

            > a:hover,
            &.active > a {
                color: $fc_dark-hover;
            }
        }
    }
    .tab-content .accordion .panel-body,
    .tab-content .panel .panel-body {
        border: 0 none;
    }
}
// accordion
.accordion .panel-heading {
    display: table;
    width: 100%;
    min-height: 48px;

    > .panel-title {
        display: table-cell;
        vertical-align: middle;
    }
}
.accordion-white .panel-heading {
    background-color: #fff;
}


/* Form */
.form-wrapper {
    border-radius: 4px;
    padding: 1px 6px 0;
}
.hr-line-solid {
    border-width: 0 0 1px 0;
}
.form-control.error,
.form-control-box.error {
    border: 1px solid #cc5965 !important;
}
.form-control-box {
    border: 1px solid #e5e6e7;
    padding: 4px 12px 12px;
}
.input-group .form-control-box {
    display: table-cell;
}


/* Modal */
/*.in.modal-backdrop + .modal {
    z-index: 2040 !important;
}
.in.modal {
    overflow: auto;
}
.in.modal-backdrop + .in.modal > div {
    display: table !important;
    height: 100%;
    margin: auto;
}
.in.modal-backdrop + .in.modal > div > .modal-container {
    display: table-cell !important;
    vertical-align: middle;
    background-color: transparent;
}*/


/* dropzone */
form.dropzone {
    border-color: #e7e7e7;
}


/* Files */
.files {
    text-align: left;
}
.files > .files-item {
    position: relative;
    display: block;
    margin: 8px;
}
.files > .files-item > .actions {
    position: absolute;
    top: 0;
    right: 0;
}

/*
 * Small horizontal box to groups elements (used in "TreeViewControlFormTypeAclComponent")
 */
.horizontal-group-box {
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    vertical-align: middle;
    display: table;
    background-color: #fff;

    > * {
        display: table-cell !important;
        padding: 2px 4px;
        margin: 0;
    }

    .-r-divider {
        border-right: 1px solid #e5e6e7;
    }

    .-l-divider {
        border-left: 1px solid #e5e6e7;
    }
}


/* DataBox */
.-stamp-view {
    .ibox {
        margin: 0;

        .ibox-title {
            border: 0 none;
        }
    }
}
.-merge-view {
    .ibox {
        .ibox-title {
            h5 {
                display: none;
            }
        }

        .ibox-content {
            padding-top: 1px; // @TODO If 0 break the layout????
        }

        .ibox-title,
        .ibox-content,
        .ibox-footer {
            background-color: transparent;
        }

        .ibox-title,
        .ibox-content {
            border: 0 none;
        }

        .ibox-footer {
            border-top: 1px solid $border_color_primary;
        }
    }
}
.ibox-title h5 {
  // 10OCT  position: relative;
  // 10OCT  z-index: 10;
    line-height: 20px; // Important to keep vertical alignment
}


/* @TODO autocomplete??????
.ibox-title h5 > a {
    margin-left: 5px;
    color: #c4c4c4;
    position: relative;
    top: -1px;
}
.ibox-title h5 > a,
.ibox-tools > a {
    font-size: 17px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.ibox-title h5 > a.i-circle,
.ibox-tools > a.i-circle {
    font-size: 19px;
}
.ibox-tools > a > i {
    position: relative;
    top: -5px;
}
.ibox-title h5 > a:hover,
.ibox-tools > a:hover {
    color: #1ab394;
}
.ibox-title h5 > a:active,
.ibox-tools > a:active {
    color: #18a689;
} */


@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0 none;
    }
}

@media (max-width: 350px) {}