.auto-complete,
.html-select {
    position: relative;

    > .input-group {
        width: 100%;
    }

    .control {
        position: relative;
        display: block;

        > a {
            position: absolute;
            color: #676a6c;
            background-color: #fff;
            z-index: 9;
        }
    }

    .choices {
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        z-index: 999;

        > ul {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style-type: none;
            border: 1px solid #e5e6e7;
            border-top: 0 none;
            border-radius: 0 0 3px 3px;
            background-color: #fff;
            line-height: 24px;
            max-height: 132px;
            overflow: auto;

            li {
                padding: 3px 6px;
                cursor: pointer;

                &:hover {
                    background-color: #e5e6e7;
                }

                &.-pagination {
                    //color: $link_color_primary;
                    font-weight: bold;
                    overflow: hidden;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        //color: $link-hover_color;
                    }

                    &:active {
                        //color: $link-active_color;
                    }

                    > span {
                        font-size: 46px;
                        line-height: 8px;
                        position: relative;
                        top: -4px;
                    }
                }
            }
        }
    }
}

.html-select {
    > .form-control {
        cursor: pointer;
    }

    .control {
        height: 100%;
        white-space: nowrap;
        overflow: hidden;

        > a {
            right: 0;
            padding-left: 7px;
        }
    }
}

.auto-complete {
    .control {
        > input {
            padding-right: 26px;
        }

        > a {
            right: 1px;
            margin-top: 1px;
            padding: 7px;
        }
    }

    button {
        height: 34px;
        margin: 0 !important;
    }
}