<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">{{getProviderAttr('label')}}</h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    

    <form name="form" method="post" (ngSubmit)="saveAction($event)" class="dropzone form-horizontal" ngNoForm="">

    


    

    <input type="hidden" id="form__token" name="form[_token]" value="Pyn_BcDiS9gJO25dJpE9EFTFCI4Haq4yNZSoquhdIAw" /></form>
</div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
    <div class="row">
    <div class="col-auto ml-auto">
        <button type="button" class="btn-primary btn" (click)="closeAction($event)">Finish</button>
    </div>
</div>
</div>