<div class="modal-body">
    <div class="form-wrapper gray-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{getProviderAttr('label')}}</h5>
                        <div class="txt-align-r actions">
                            <a class="-round fa fa-times"
                               (click)="closeAction($event)"></a>
                        </div>
                    </div>
                                        <div class="ibox-content">    

    <form name="form" method="post" (ngSubmit)="saveAction($event)" class="dropzone form-horizontal" ngNoForm="">

    


    

    <input type="hidden" id="form__token" name="form[_token]" value="eTrtn2Xktk4_LJQU6ZNwUrnct66QJFslRhc1ETmbJFM" /></form>
</div>
                    <div class="ibox-footer hide-on-empty">    <div class="form-horizontal"><div class="form-group">
            <div class="col-sm-12">
                <button class="btn-primary btn" type="button" (click)="closeAction($event)">Finish</button>
            </div>
        </div></div>
</div>                                    </div>
            </div>
        </div>
    </div>
</div>