    <nav>
        <div class="nav nav-tabs" role="tablist">
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(0)"
                   [class.active]="0 == _navManagerService.getIndex()"
                   [attr.data-index]="0"
                   [innerHTML]="getLang('Prices')"
                   ></a>
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(1)"
                   [class.active]="1 == _navManagerService.getIndex()"
                   [attr.data-index]="1"
                   [innerHTML]="getLang('Observations')"
                   ></a>
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(2)"
                   [class.active]="2 == _navManagerService.getIndex()"
                   [attr.data-index]="2"
                   [innerHTML]="getLang('Files')"
                   ></a>
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(3)"
                   [class.active]="3 == _navManagerService.getIndex()"
                   [attr.data-index]="3"
                   [innerHTML]="getLang('Gallery')"
                   ></a>
                            <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction(4)"
                   [class.active]="4 == _navManagerService.getIndex()"
                   [attr.data-index]="4"
                   [innerHTML]="getLang('Videos')"
                   ></a>
                    </div>
    </nav>
    <div class="tab-content">
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_0"
                                  role="tabpanel"
                 [class.show]="0 == _navManagerService.getIndex()"
                 [class.active]="0 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_1"
                                  role="tabpanel"
                 [class.show]="1 == _navManagerService.getIndex()"
                 [class.active]="1 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_2"
                                  role="tabpanel"
                 [class.show]="2 == _navManagerService.getIndex()"
                 [class.active]="2 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_3"
                                  role="tabpanel"
                 [class.show]="3 == _navManagerService.getIndex()"
                 [class.active]="3 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
                    <div class="tab-pane p-3 fade js_lazyLoadContainer_4"
                                  role="tabpanel"
                 [class.show]="4 == _navManagerService.getIndex()"
                 [class.active]="4 == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
            </div>
