{% extends 'AppBundle::base.html.twig' %}

{% block header_container %}
    {% include 'AppBundle:partial:entity-detail.html.twig' with {
        'object': _conf['object'],
        'fields': _conf['fields']
    } %}
{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    {{ render(controller(
        'SysadminBundle:ModuleMenu:indexLocalChild',
        { 'module': _conf['object']['id'] }
    )) }}
{% endblock %}

{% block local_javascripts %}
    {% javascripts output="assets/sysadmin/module/detail/js/local.js"
        '@SysadminBundle/Resources/public/module/detail/ts/dist/inline.bundle.js'
        '@SysadminBundle/Resources/public/module/detail/ts/dist/polyfills.bundle.js'
        '@SysadminBundle/Resources/public/module/detail/ts/dist/vendor.bundle.js'
        '@SysadminBundle/Resources/public/module/detail/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}