{% extends 'AppBundle:form:form-popup.html.twig' %}

{% block body %}
    {% set form = (form is defined ? form : (_form is defined ? _form : null)) %}
    {% set fields = (fields is defined ? fields : (_conf['fields'] is defined ? _conf['fields'] : null)) %}

    {% if (form and fields) %}
        {% for field in fields['form'] %}
            {% if field == 'clientObj' %}
                <div class="form-group">
                    {% include 'AppBundle:form:label.html.twig' with {
                        'formField': form[field],
                        'metadata': fields['metadata'][field]
                    } %}
                    <div class="col-sm-10"><div class="row">
                        <div class="col-sm-8">
                            {% include 'AppBundle:form:input.html.twig' with {
                                'field': field,
                                'formField': form[field],
                                'metadata': fields['metadata'][field]
                            } %}
                        </div>
                        <div class="col-sm-4">
                            {% include 'AppBundle:form:input.html.twig' with {
                                'field': 'clientIsPax',
                                'formField': form['clientIsPax'],
                                'metadata': fields['metadata']['clientIsPax']
                            } %}
                        </div>
                    </div></div>
                </div>
            {% elseif (field != 'clientIsPax') %}
                {% include 'AppBundle:form:field.html.twig' with {
                    'field': field,
                    'metadata': fields['metadata'][field],
                    'form': form
                } %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}