{% if _breadcrumb %}
<div class="row border-bottom white-bg main-head-breadcrumb">
    <div class="col-12">
        <ol class="breadcrumb">
            {% for value in _breadcrumb %}
                {% if loop.last %}
                    <li class="active"><strong>{{ value['label'] }}</strong></li>
                {% else %}
                    <li><a href="{{ value['url'] }}">{{ value['label'] }}</a></li><span>&nbsp;/&nbsp;</span>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}