<li{% if (module['id'] == selectedModule) %} class="active"{% endif %}>
    <a href="{{ module['menus'][0]['url'] }}"><i
                class="fa {{ module['icon'] }}"></i><span class="nav-label">{{ module['name'] }}</span></a>
</li>