<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {% if app.session.get('_app.stores')|length > 1 %}
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-cogs"></i>&nbsp;{% include 'AppBundle:partial:store-name.html.twig' %}
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        {% include 'AppBundle:partial:stores-list.html.twig' %}
                    </ul>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('_login__default__logout') }}"><i class="fa fa-sign-out"></i>&nbsp;Log out</a>
            </li>
        </ul>
    </nav>
</div>