<div class="row border-bottom align-items-center">
    <div class="col-auto mr-auto">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
    </div>
    <div class="col-auto p-0">
        <ul class="navbar-top-links">
            {% if app.session.get('_app.stores')|length > 1 %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        <i class="fa fa-cogs"></i>&nbsp;{% include 'AppBundle:partial:store-name.html.twig' %}
                    </a>
                    {% include 'AppBundle:partial:stores-dropdown.html.twig' %}
                </li>
            {% endif %}
            <li>
                <a href="{{ path('_login__default__logout') }}"><i class="fa fa-sign-out"></i>&nbsp;Log out</a>
            </li>
        </ul>
    </div>
</div>