{% extends 'AppBundle::base.html.twig' %}

{% block header %}{% endblock %}

{% block stylesheets %}
    {% stylesheets output="assets/admin/user/index/css/local.css"
    '@AdminBundle/Resources/public/user/index/scss/dist/styles.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_dataBox"></div>
{% endblock %}

{% block javascripts %}
    {% javascripts output="assets/admin/user/index/js/local.js"
        '@AdminBundle/Resources/public/user/index/ts/dist/inline.bundle.js'
        '@AdminBundle/Resources/public/user/index/ts/dist/polyfills.bundle.js'
        '@AdminBundle/Resources/public/user/index/ts/dist/vendor.bundle.js'
        '@AdminBundle/Resources/public/user/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}