

<div class="ibox form-control-box -embed-form" [ngClass]="{&#039;error&#039;: _formService.getErrors()[&#039;serviceObj&#039;] &amp;&amp; (_formService.getErrors()[&#039;serviceObj&#039;].length &gt; 0)}">
                        <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
                <h5>
                    <ng-template [ngIf]="getProviderAttr('controls')['expander']['isEnabled']"><js_expander
                        [isExpanded]="_isExpanded || null"
                        [label]="getLang(getProviderAttr('label'))"
                        [labelCount]="getProviderAttr('labelCount')"
                        [labelIcon]="getProviderAttr('labelIcon')"
                        (onChange)="expanderAction($event)"></js_expander></ng-template>
                    <ng-template [ngIf]="!getProviderAttr('controls')['expander']['isEnabled']">
                        <span [innerHTML]="getProviderAttr('label')"></span>
                    </ng-template>
                </h5>
                <div *ngIf="_isExpanded"
                     class="txt-align-r hide-on-empty">    <div class="row align-items-center">
        <div class="col ml-auto text-right actions no-user-select">
            <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
            <div (click)="triggerAction($event)">
                <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                    <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                       [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                       class="-round fa"
                       [attr.data-action]="action"></a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
            </div>
            
    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty">    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
                
    <div class="table-responsive">
        <table class="data-table table table-hover dataTables-example">
                <tbody>
        <ng-template ngFor let-obj [ngForOf]="_dataService.getProviderAttr('objects')" let-objIndex="index">
        <tr             [ngClass]="getLegendClasses(obj, 'tr')">                    <td [innerHTML]="obj['thumbnail']"></td>
        <td>
            <div [innerHTML]="obj['name']"></div>
            <div [innerHTML]="obj['description']"></div>
        </td>
        <td (click)="_formService.setFormFieldValue('serviceObj', $event.target.value)">
        <div class="radio"><label><input type="radio"
                 value="{{obj['serviceObj']}}"
                 [checked]="_formService.getObject().serviceObj == obj['serviceObj']"></label></div>
    </td>
                        </tr>
        </ng-template>
        </tbody>
    </table>
    </div>    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
</div>
        <div [hidden]="!(_isExpanded)"
         class="ibox-footer"
         *ngIf="_dataService.countObjects() > 0"><js_searchPagination></js_searchPagination></div>

</div>

