{% extends 'AppBundle::base-popup.html.twig' %}
{% block header_container %}{% verbatim %}{{getProviderAttr('label')}}{% endverbatim %}{% endblock %}
{% block body %}
    {% include 'AppBundle:form:form.html.twig' with {
        'form': _form,
        'fields': null
    } %}
{% endblock %}
{% block footer_container %}
<div class="row">
    <div class="col-auto ml-auto">
        <button type="button" class="btn-primary btn" (click)="closeAction($event)">Finish</button>
    </div>
</div>
{% endblock %}