{% extends 'AppBundle::base-popup.html.twig' %}
{% block header_container %}{% verbatim %}{{getProviderAttr('label')}}{% endverbatim %}{% endblock %}
{% block body %}
    {% include 'AppBundle:form:form.html.twig' with {
        'form': _form,
        'fields': null
    } %}
{% endblock %}
{% block footer_container %}
    <div class="form-horizontal"><div class="form-group">
            <div class="col-sm-12">
                <button class="btn-primary btn" type="button" (click)="closeAction($event)">Finish</button>
            </div>
        </div></div>
{% endblock %}