{# define panels in the follow way: "'panel1', 'panel2', 'paneln'" #}
{% extends 'AppBundle:accordion:default.html.twig' %}

{% block panels %}
    <ng-template ngFor let-panel [ngForOf]="[{{panels}}]" let-index="index">
        {% block panel_restriction_start %}{% endblock %}
        <div class="card">
            <div class="card-header"><div class="row align-items-center">
                    <h5 class="col"
                        (click)="_navManagerService.navToAction(index)">{% block panel_label %}{% endblock %}</h5>
                </div></div>
            <div class="collapse"
                 [class.show]="index === _navManagerService.getIndex()">
                <div class="card-body">
                    {% block panel_container %}{% endblock %}
                </div>
            </div>
        </div>
        {% block panel_restriction_end %}{% endblock %}
    </ng-template>
{% endblock %}