<div (click)="_navManagerService.navToAction({{key}})"
     class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panel{{key}}">{{value.label}}</a>
        </h4>
    </div>
    <div id="panel{{index}}" class="panel-collapse collapse">
        <div class="panel-body">