    <div class="row m-b-md animated fadeInRight"><div class="col-lg-12 m-b-xs"><div class="tabs-container">
        <ul class="nav nav-tabs">
                            <li (click)="_navManagerService.navToAction(0)"
                    [class.active]="0 == _navManagerService.getIndex()"><a
                            [attr.data-index]="0" data-toggle="tab" href="#tab0">Entities</a></li>
                    </ul>
        <div class="tab-content">
                            <div id="tab0"
                     class="tab-pane"
                     [class.active]="0 == _navManagerService.getIndex()">
                    <div class="panel-body js_lazyLoadContainer_0">
                        <ng-template #js_lazyLoadContainer></ng-template>
                    </div>
                </div>
                    </div>
    </div></div></div>
