    
    <form name="form" method="post" (ngSubmit)="saveAction($event)" ngNoForm="" class="form-horizontal">

<div class="ibox">
            <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
            <h5>
                <ng-template [ngIf]="getProviderAttr('controls')['expander']"><js_expander
                    [isExpanded]="_isExpanded || null"
                    [label]="getProviderAttr('label')"
                    (onChange)="expanderAction($event)"></js_expander></ng-template>
                <ng-template [ngIf]="!getProviderAttr('controls')['expander']">
                    <span [innerHTML]="getProviderAttr('label')"></span>
                </ng-template>
            </h5>
            <div *ngIf="_isExpanded"
                 class="txt-align-r hide-on-empty">    <div class="actions no-user-select">
        <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
        <div (click)="triggerAction($event)">
            <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                   [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                   class="-round fa"
                   [attr.data-action]="action"></a>
            </ng-template>
        </div>
    </div>
</div>
        </div>
    
    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty">    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
        <ul class="tree-view">
        <js_treeViewNode [nodes]="getNodes(0)"
                         [nodesIndex]="0"
                         [parentTargetField]="_provider['parentTargetField']"
                         [treeViewComponent]="_treeViewComponent"></js_treeViewNode>
    </ul>
    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
</div>
        <div class="ibox-footer"><div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" id="form_reset" name="form[reset]" class="btn btn" (click)="resetAction($event)">Reset</button>
                                        <button type="button" id="form_save" name="form[save]" class="btn btn-primary btn" (click)="saveAction($event)">Save</button>
                    </div>
    </div></div>

</div>

    
    <input type="hidden" id="form__token" name="form[_token]" value="M8-tON1Vm7zaCf91I5KVuSjoLzkFt9Gsl7a9uNrScso" /></form>
