
<div class="ibox">
            <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
            <h5>
                <ng-template [ngIf]="getProviderAttr('controls')['expander']"><js_expander
                    [isExpanded]="_isExpanded || null"
                    [label]="getProviderAttr('label')"
                    (onChange)="expanderAction($event)"></js_expander></ng-template>
                <ng-template [ngIf]="!getProviderAttr('controls')['expander']">
                    <span [innerHTML]="getProviderAttr('label')"></span>
                </ng-template>
            </h5>
            <div *ngIf="_isExpanded"
                 class="txt-align-r hide-on-empty">    <div class="actions no-user-select">
        <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
        <div (click)="triggerAction($event)">
            <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                   [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                   class="-round fa"
                   [attr.data-action]="action"></a>
            </ng-template>
        </div>
    </div>
</div>
        </div>
    
    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty">    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
        <div class="table-responsive">
        <form>
            <table class="data-table table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th *ngFor="let searchField of _dataService.getSearch('fields')">{{ _dataService.getFields('metadata')[searchField].label }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-obj [ngForOf]="_dataService.getProviderAttr('objects')" let-objIndex="index"><tr
                          (dblclick)="editAction($event, objIndex)"
                          [class.disabled]="obj.hasOwnProperty('isEnabled') && (obj.isEnabled.search('fa-ban') > 0)">
                    <td *ngFor="let searchField of _dataService.getSearch('fields')"
                        [ngClass]="getColAlign(searchField)"
                        [innerHTML]="obj[searchField]"></td>
                    <td>
                        <span *ngIf="obj['_isNew']" class="badge badge-info">New</span>
                        <span *ngIf="obj['_isEdited']" class="badge badge-info">Edited</span>
                        <input *ngIf="_actionsService.getActionAttr('radioChoice', 'isEnabled')"
                               class="pull-right action"
                               type="radio"
                               name="index[]"
                               value="{{objIndex}}"/>
                        <input *ngIf="_actionsService.getActionAttr('checkAll', 'isEnabled')"
                               class="pull-right action js_checkAll"
                               type="checkbox"
                               name="index[]"
                               value="{{objIndex}}"
                               [ngModel]="checkAll"/>
                        <div class="pull-right actions no-user-select" (click)="triggerAction($event)">
                            <ng-template ngFor let-action [ngForOf]="_actionsService.getDetailActions()">
                                <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                                   [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                                   class="fa"
                                   [attr.data-action]="action"
                                   [attr.data-value]="objIndex"></a>
                            </ng-template>
                        </div>
                    </td>
                </tr></ng-template>
                </tbody>
            </table>
        </form>
    </div>
    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
</div>
        <div class="ibox-footer"
         *ngIf="_dataService.countObjects() > 0"><js_searchPagination></js_searchPagination></div>

</div>

