

    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">

    
        
                    <ng-template #js_step1Service></ng-template>
            

                                            <input [(ngModel)]="_formService.getObject().serviceObj"
           formControlName = serviceObj
           id="form_bookingServiceObj_serviceObj"
           name="form[bookingServiceObj][serviceObj]"
           required="required"           type="hidden">
                    <label class="error" *ngFor="let error of _formService.getErrors().serviceObj">{{error}}</label>
                

    

    <input type="hidden" id="form__token" name="form[_token]" value="sEeUTtNqE_lLiY0RIyodAt-zpCXEmA5IHyk5lwPbGSo" /></form>
