<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Form&nbsp;{{getProviderAttr('label')}}<small>&nbsp;({{(_formService && _formService.getObject() && _formService.getObject().id) ? 'edit' : 'add'}})</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    <div *ngIf="getSelectedServiceAttr('id')" class="row mb-1">
    <div class="col-sm-8">
        <div class="row no-gutters widget gray-bg height104">
            <div class="col-sm-3">
                <div [innerHTML]="getSelectedServiceAttr('thumbnail')"></div>
            </div>
            <div class="col-sm-9">
                <div>
                    <span [innerHTML]="getSelectedServiceAttr('icon')"></span>
                    <span class="font-bold" [innerHTML]="getSelectedServiceAttr('name')"></span>
                </div>
                <div class="height52" [innerHTML]="getSelectedServiceAttr('description')"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget bg-success text-white height104 text-center">
            <h2 [innerHTML]="getSelectedServiceAttr('totalSell')"></h2>
            <div><span [innerHTML]="getSelectedServiceAttr('quantity')" class="font-bold"></span>&nbsp;Pax</div>
            <div><span [innerHTML]="getSelectedServiceAttr('durationDays')" class="font-bold"></span>&nbsp;Days</div>
        </div>
    </div>
</div>

                        <ul class="row mb-3 no-gutters wizard-nav">
                                    <li class="col-auto wizard-step"
                        [class.step-active]="0 == _wizardManagerService.getIndex()">
                        <span class="step-number">1</span>
                        <span class="step-text">Client</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="1 == _wizardManagerService.getIndex()">
                        <span class="step-number">2</span>
                        <span class="step-text">Package</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="2 == _wizardManagerService.getIndex()">
                        <span class="step-number">3</span>
                        <span class="step-text">Dates</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="3 == _wizardManagerService.getIndex()">
                        <span class="step-number">4</span>
                        <span class="step-text">Services</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="4 == _wizardManagerService.getIndex()">
                        <span class="step-number">5</span>
                        <span class="step-text">Detail</span>
                    </li>
                                    <li class="col-auto wizard-step"
                        [class.step-active]="5 == _wizardManagerService.getIndex()">
                        <span class="step-number">6</span>
                        <span class="step-text">Preview</span>
                    </li>
                            </ul>

            
                                            <section [hidden]="_wizardManagerService.getIndex() != 0">        
        

    <form name="form" method="post" (ngSubmit)="saveAction($event)" [formGroup]="_formService.getForm()" class="form-horizontal">


                            
                    
                                            

                <div class="row form-group" >

                        <label class="col-sm-2 control-label" for="form_bookingObj_userObj">User/Operator</label>
    
            <div class="col-sm-10">
                                                                            <select [(ngModel)]="_formService.getObject().userObj"
            formControlName = userObj
            class="form-control"
            [class.error]="_formService.getErrors().userObj && (_formService.getErrors().userObj.length > 0)"
            id="form_bookingObj_userObj"
            name="form[bookingObj][userObj]"
            >
        <option value=""></option>
                    <option *ngFor="let choice of _dataService.getFieldChoices('userObj')"
                    value="{{choice['id']}}">{{choice['label']}}</option>
            </select>
                                <label class="error" *ngFor="let error of _formService.getErrors().userObj">{{error}}</label>
            </div>
        </div>
                                        
                    
                                            
                        <div class="row form-group">
                                        <label class="col-sm-2 control-label required" for="form_bookingObj_clientObj">Client</label>
                                <div class="col-sm-10"><div class="row">
                                    <div class="col-sm-8">
                                                                    <input [(ngModel)]="_formService.getObject().clientObj"
           formControlName = clientObj
           name="form[bookingObj][clientObj]"
           required="required"           type="hidden">
    <js_autoComplete [field]="'clientObj'"
                     [hasSelfReference]="_dataService.getFieldChoicesAttr('clientObj', 'hasSelfReference')"
                                                                       ></js_autoComplete>
                    <label class="error" *ngFor="let error of _formService.getErrors().clientObj">{{error}}</label>
                                    </div>
                                    <div class="col-sm-4">
                                                                    <div class="checkbox">                                        <label><input type="checkbox" id="form_bookingObj_clientIsPax" name="form[bookingObj][clientIsPax]" [(ngModel)]="_formService.getObject().clientIsPax" formControlName="clientIsPax" [class.error]="_formService.getErrors().clientIsPax &amp;&amp; _formService.getErrors().clientIsPax.length &gt; 0" value="1" /> Client is pax</label>
    </div>
                <label class="error" *ngFor="let error of _formService.getErrors().clientIsPax">{{error}}</label>
                                    </div>
                                </div></div>
                        </div>
                                    
                    
                                                
        

    

    <input type="hidden" id="form__token" name="form[_token]" value="sEeUTtNqE_lLiY0RIyodAt-zpCXEmA5IHyk5lwPbGSo" /></form>
    </section>                                <section [hidden]="_wizardManagerService.getIndex() != 1"
         class="js_lazyLoadContainer_1">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>                                <section [hidden]="_wizardManagerService.getIndex() != 2"
         class="js_lazyLoadContainer_2">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>                                <section [hidden]="_wizardManagerService.getIndex() != 3"
         class="js_lazyLoadContainer_3">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>                                <section [hidden]="_wizardManagerService.getIndex() != 4"
         class="js_lazyLoadContainer_4">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>                                <section [hidden]="_wizardManagerService.getIndex() != 5"
         class="js_lazyLoadContainer_5">
    <ng-template #js_lazyLoadContainer></ng-template>
</section>            
            
            
    </div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
        <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" class="btn-light btn" (click)="_wizardManagerService.cancelAction($event)">Cancel</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.prevAction($event)"
                    *ngIf="0 < _wizardManagerService.getIndex()">Prev</button>
            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.nextAction($event)"
                    *ngIf="5 > _wizardManagerService.getIndex()">Next</button>
                            <button type="button" class="btn-primary btn" (click)="_wizardManagerService.finishAction($event)"
                        *ngIf="5 == _wizardManagerService.getIndex()">Finish</button>
                    </div>
    </div>
</div>