{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output="assets/entities/entity-video/profile/css/local.css"
    '@BckEntitiesBundle/Resources/public/entity-video/profile/scss/dist/styles.css'
    '@dropzone_css'
    '@videojs_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_video"></div>
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/entities/entity-video/profile/js/local.js"
        '@BckEntitiesBundle/Resources/public/entity-video/profile/ts/dist/inline.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-video/profile/ts/dist/polyfills.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-video/profile/ts/dist/vendor.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-video/profile/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}