{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="assets/booking/basic-booking/index/css/main.css"
        '@AppBundle/Resources/public/scss/select-box.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_dataBox"></div>
{% endblock %}

{% block local_javascripts %}
    {% javascripts output="assets/booking/basic-booking/index/js/local.js"
        '@BookingBundle/Resources/public/basic-booking/index/ts/dist/inline.bundle.js'
        '@BookingBundle/Resources/public/basic-booking/index/ts/dist/polyfills.bundle.js'
        '@BookingBundle/Resources/public/basic-booking/index/ts/dist/vendor.bundle.js'
        '@BookingBundle/Resources/public/basic-booking/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}