

<div class="ibox" >
                        <div class="ibox-title" *ngIf="!getProviderExtraDataAttr('hasMergeHeader')">
                <h5>
                    <ng-template [ngIf]="getProviderAttr('controls')['expander']['isEnabled']"><js_expander
                        [isExpanded]="_isExpanded || null"
                        [label]="getLang(getProviderAttr('label'))"
                        [labelCount]="getProviderAttr('labelCount')"
                        [labelIcon]="getProviderAttr('labelIcon')"
                        (onChange)="expanderAction($event)"></js_expander></ng-template>
                    <ng-template [ngIf]="!getProviderAttr('controls')['expander']['isEnabled']">
                        <span [innerHTML]="getProviderAttr('label')"></span>
                    </ng-template>
                </h5>
                <div *ngIf="_isExpanded"
                     class="txt-align-r hide-on-empty">    <div class="row align-items-center">
        <div class="col ml-auto text-right actions no-user-select">
            <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
            <div (click)="triggerAction($event)">
                <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                    <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                       [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                       class="-round fa"
                       [attr.data-action]="action"></a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
            </div>
            
    <div [hidden]="!(_isExpanded)" class="ibox-content hide-on-empty">    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
            <div class="table-responsive m-t">
        <form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th *ngFor="let field of ['description', 'quantity', 'sellValue', 'vatCode_name', 'totalSell']">{{ _dataService.getFields('metadata')[field].label }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-obj [ngForOf]="_dataService.getProviderAttr('objects')" let-objIndex="index"><tr
                          (dblclick)="editAction($event, objIndex)">
                        <td class="txt-align-l"><div><strong><span
                            [innerHTML]="obj['service_icon']" class="mr-1"></span><span class="mr-1"
                            [innerHTML]="obj['service_name']"></span><span *ngIf="obj['booking_code']">(<span
                            [innerHTML]="obj['booking_code']"></span>)</span></strong></div><small><span
                            [innerHTML]="obj['description']"></span></small></td>
                        <td *ngFor="let field of ['quantity', 'sellValue', 'vatCode_name', 'totalSell']"
                            [ngClass]="getColAlign(field)"
                            [innerHTML]="obj[field]"></td>
                        <td>
                            <span *ngIf="obj['_isNew']" class="badge badge-info">New</span>
                            <span *ngIf="obj['_isEdited']" class="badge badge-info">Edited</span>
                            <input *ngIf="_actionsService.getActionAttr('radioChoice', 'isEnabled')"
                                   class="pull-right action"
                                   type="radio"
                                   name="index[]"
                                   value="{{objIndex}}"/>
                            <input *ngIf="_actionsService.getActionAttr('checkAll', 'isEnabled')"
                                   class="pull-right action js_checkAll"
                                   type="checkbox"
                                   name="index[]"
                                   value="{{objIndex}}"
                                   [ngModel]="checkAll"/>
                            <div class="pull-right actions no-user-select" (click)="triggerAction($event)">
                                <ng-template ngFor let-action [ngForOf]="_actionsService.getDetailActions()">
                                    <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                                       [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                                       class="fa"
                                       [attr.data-action]="action"
                                       [attr.data-value]="objIndex"></a>
                                </ng-template>
                            </div>
                        </td>
                    </tr></ng-template>
                </tbody>
            </table>
        </form>
    </div>
    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
</div>
        <div [hidden]="!(_isExpanded)"
         class="ibox-footer"
         *ngIf="_dataService.countObjects() > 0"><js_searchPagination></js_searchPagination></div>

</div>

<js_legend></js_legend>