<div class="modal-header">
    <div class="row align-items-center">
        <h3 class="col-auto mr-auto modal-title">Debug&nbsp;<small>{{getProviderAttr('label')}}</small></h3>
        <div class="col-auto text-right actions"><a
                class="-round fa fa-times"
                (click)="closeAction($event)"></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">    <div class="accordion" id="accordion">
        <ng-template ngFor let-panel [ngForOf]="[&#039;availability&#039;, &#039;allot&#039;, &#039;price&#039;]" let-index="index">
        <ng-template [ngIf]="getProviderAttr('data')[panel]">        <div class="card">
            <div class="card-header"><div class="row align-items-center">
                    <h5 class="col"
                        (click)="_navManagerService.navToAction(index)"><span class="status -{{ _statusMap[getProviderAttr('data')[panel]['status']] || 'danger' }}"></span>&nbsp;{{_helperService.uCFirst(panel)}}</h5>
                </div></div>
            <div class="collapse"
                 [class.show]="index === _navManagerService.getIndex()">
                <div class="card-body">
                                <ul class="no-bullets"><li class="p-xxs" *ngFor="let debugDetail of getProviderAttr('data')[panel]['detail'];">
                    <span class="status -{{ _statusMap[debugDetail['status']] || 'danger' }}"></span><span
                    >&nbsp;{{debugDetail['date']}}</span>

                    <span *ngIf="panel == 'allot'">&nbsp;({{debugDetail['free']}}/{{debugDetail['total']}} - <span [innerHTML]="debugDetail['type']"></span>)</span>
                    <ul *ngIf="panel == 'price'"><li *ngFor="let priceDetail of debugDetail['price'];">
                            {{priceDetail['description']}}:&nbsp;
                            <strong>Cost:</strong>&nbsp;{{priceDetail['costValue']}}&nbsp;<strong>Sell:</strong>&nbsp;{{priceDetail['sellValue']}}
                        </li></ul>
                </li></ul>
                        </div>
            </div>
        </div>
        </ng-template>    </ng-template>
</div></div>
    </div>
</div>
<div class="modal-footer hide-on-empty">
            <div class="row"><div class="col-auto ml-auto">
            <button type="button" class="btn btn-primary" (click)="closeAction($event, true)">Ok</button>
        </div></div>
    </div>