{% extends 'AppBundle::box.html.twig' %}

{% block before_container %}{% endblock %}

{% block header_container %}
    <div class="row align-items-center">
        <div class="col ml-auto text-right actions no-user-select">
            <ng-template [ngIf]="_actionsService.getActionAttr('search', 'isEnabled')"><js_search class="search"></js_search></ng-template>
            <div (click)="triggerAction($event)">
                <ng-template ngFor let-action [ngForOf]="_actionsService.getHeadActions()">
                    <a *ngIf="_actionsService.getActionAttr(action, 'isEnabled')"
                       [ngClass]="[_actionsService.getActionAttr(action, 'icon')]"
                       class="-round fa"
                       [attr.data-action]="action"></a>
                </ng-template>
            </div>
        </div>
    </div>
{% endblock %}

{# _dataService.getProviderAttr('objects')[0] // used to work with objects (tree-view) and arrays simultaneously #}
{% block body %}
    <ng-template [ngIf]="(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">
    {% block body_container %}{% endblock %}
    </ng-template><p
        class="text-center"
        *ngIf="!(_dataService.getProviderAttr('objects') && _dataService.getProviderAttr('objects')[0])">No results.</p>
{% endblock %}

{% block footer %}
    <div [hidden]="!(_isExpanded)"
         class="ibox-footer"
         *ngIf="_dataService.countObjects() > 0"><js_searchPagination></js_searchPagination></div>
{% endblock %}

{% block after_container %}<js_legend></js_legend>{% endblock %}