{% extends 'AppBundle:choices-box:default.html.twig' %}

{% block body %}
<div class="row align-items-center">
    <div class="col-12 col-md-4 py-3">
        {% include 'AppBundle:form:form.html.twig' with {
            'form': _form,
            'fields': _conf['fields']
        } %}
    </div>
    <div class="col-12 col-md-8 py-3 dyn-border-l">{{ parent() }}</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}